{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>

    <title>Créer un compte auteur</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- vendor css -->
    <link rel="stylesheet" type="text/css" href="{% static '/dashboard/assets/css/style.css' %}">

</head>

<!-- [ auth-signin ] start -->
<div class="auth-wrapper">
    <div class="auth-content container">
        <div class="card">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="card-body">
                        {% for message in messages %}
                        <div class="alert alert-success d-flex align-items-center" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Success:">
                                <path
                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                            </svg>
                            <div style="margin-left: 2%;">
                                {{message}}
                            </div>
                        </div>

                        {% endfor %}
                        <img src="{% static 'assets/images/logo-dark.png' %}" alt="" class="img-fluid mb-4">
                        <h4 class="mb-3 f-w-400">Créez votre compte auteur</h4>

                        <form action="{% url 'auteur_signup' %}" method="POST">
                            {% csrf_token %}
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="feather icon-user"></i></span>
                                </div>
                                <input type="text" name="username" class="form-control"
                                    placeholder="Nom d'utilisateur eg: bernard, bernard_koffi">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="feather icon-user"></i></span>
                                </div>
                                <input type="text" name="first_name" class="form-control" placeholder="Nom">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="feather icon-user"></i></span>
                                </div>
                                <input type="text" name="last_name" class="form-control" placeholder="Prénoms">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="feather icon-mail"></i></span>
                                </div>
                                <input type="email" name="email" class="form-control" placeholder="Email address">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="feather icon-lock"></i></span>
                                </div>
                                <input type="password" name="password1" class="form-control" placeholder="Mot de passe">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="feather icon-lock"></i></span>
                                </div>
                                <input type="password" name="password2" class="form-control"
                                    placeholder="Confirmez Mot de passe">
                            </div>
                            <div class="form-group text-left mt-2">
                                <div class="checkbox checkbox-primary d-inline">
                                    <input type="checkbox" name="checkbox-fill-2" id="checkbox-fill-2">
                                    <label for="checkbox-fill-2" class="cr">Send me the <a href="#!"> Newsletter</a>
                                        weekly.</label>
                                </div>
                            </div>
                            <button class="btn btn-primary mb-4">Sign up</button>
                        </form>
                        <p class="mb-2">Vous avez déjà un compte ? <a href="{% url 'connexion' %}"
                                class="f-w-400">Connectez-vous</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-block">
                    <img src="{% static 'dashboard/assets/images/auth-bg.png' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>



</body>

</html>