{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>

    <title>Se connecter</title>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- vendor css -->
    <link rel="stylesheet" type="text/css" href="{% static '/dashboard/assets/css/style.css' %}">

</head>

<!-- [ auth-signin ] start -->
<div class="auth-wrapper">
    <div class="auth-content container">
        <div class="card">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="card-body">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-warning d-flex align-items-center" role="alert">
                            <div style="margin-left: 2%;">
                                {{message}}
                            </div>
                        </div>
                        
                        {% endfor %}
                        {% endif %}
                        <img src="{% static 'dashboard/assets/images/logo-dar.png' %}" alt="" class="img-fluid mb-4">
                        <h4 class="mb-3 f-w-400">Connectez vous à votre compte</h4>

                        <form action="{% url 'connexion' %}" method="POST">
                            {% csrf_token %}
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="feather icon-user"></i></span>
                            </div>
                            <input type="text" name="username" class="form-control" placeholder="Email ou Nom d'utilisateur">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="feather icon-lock"></i></span>
                            </div>
                            <input type="password" name="password" class="form-control" placeholder="Mot de passe">
                        </div>
                        <div class="input-group mb-3">
                            {{form.captcha}}

                        </div>
                        
                        <!-- <div class="form-group text-left mt-2">
                            <div class="checkbox checkbox-primary d-inline">
                                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                                <label for="checkbox-fill-a1" class="cr"> Save credentials</label>
                            </div>
                        </div> -->
                        {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}">
                        {% endif %}
                        <button class="btn btn-primary mb-4">Se connecter</button>
                        </form>

                        <p class="mb-2 text-muted">Mot de passe oublié ? <a href="{% url 'password_reset' %}"
                                class="f-w-400">Restaurer</a></p>
                        <p class="mb-0 text-muted">Vous n'avez pas de compte ? <a href="{% url 'signup_choice' %}"
                                class="f-w-400">Cliquez ici!</a></p>
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-block">
                    <img src="{% static 'dashboard/assets/images/auth-bg.png' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ auth-signin ] end -->



</body>

</html>