{% extends 'main_base.html' %}

{% block title %}
<title>Choisir le type de compte</title>
{% endblock title %}

{% block content %}

<!-- ======= Services Section ======= -->
<section id="services" class="services">

    <div class="container" data-aos="fade-up">

        <header class="section-header">

            <p>Choisissez le type de compte</p>
        </header>

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-box blue">
                    <i class="ri-user-fill icon"></i>
                    <h3>Courant</h3>
                    <p>Rechercher des articles par catégories, acheter des documents, postuler à des offres de problématique.</p>
                    <a href="{% url 'account:client_signup' %}" class="read-more"><span>Continuer</span> <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="service-box orange">
                    <i class="ri-user-2-fill icon"></i>
                    <h3>Auteur</h3>
                    <p>Publier et commercialiser vos ouvrages, vos recherches, vos livres etc...</p>
                    <a href="{% url 'account:auteur_signup' %}" class="read-more"><span>Continuer</span> <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="service-box green">
                    <i class="ri-building-4-fill icon"></i>
                    <h3>Entreprise</h3>
                    <p>Publier des problématiques sur divers thématiques selon votre domaine d'activités.</p>
                    <a href="{% url 'account:ense_signup' %}" class="read-more"><span>Continuer</span> <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>

        </div>

    </div>

</section><!-- End Services Section -->




</main><!-- End #main -->


{% endblock %}