{% extends 'main_base.html' %}
{% load article_custom_tags %}
{% load humanize %}

{% block title %}
<title>Postuler à l'offre</title>
{% endblock title %}


{% block content %}


<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a href="{% url 'main:accueil' %}">Accueil</a></li>
            <li>Détails de l'offre</li>
        </ol>

    </div>
</section><!-- End Breadcrumbs -->

<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row">

            <div class="col-lg-8 entries">

                <div class="blog-author d-flex align-items-center">
                    <img src="{{prob.entreprise.image.url}}" class="rounded-circle float-left" alt="">
                    <div>
                        <h4>{{prob.entreprise.raison_social}}</h4>
                        <div class="social-links">
                            <a href="https://twitters.com/#"><i class="bi bi-twitter"></i></a>
                            <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                            <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                            <a href="https://instagram.com/#"><i class="biu bi-linkedin"></i></a>
                        </div>
                        <p>
                            {{prob.entreprise.objet_social}}
                        </p>
                    </div>
                </div><!-- End blog author bio -->
                <div class="blog-comments">

                    <div class="reply-form">
                        <h4>Formulaire de candidature</h4>

                        <form action="" method="POST">
                            {% csrf_token %}

                            <div class="row">
                                <div class="col form-group">
                                    {{form.media}}
                                    {{form.as_p}}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Soumettre</button>

                        </form>


                    </div>
                </div>


            </div><!-- End blog entries list -->

            <div class="col-lg-4">
                <div class="sidebar">

                    <!-- ======= Pricing Section ======= -->
                    <h3 class="sidebar-title">Détails</h3>

                    <ul>
                        <li><strong>Domaine</strong>: {{prob.domaine}}</li>
                        <li><strong>Durée prévisionnelle</strong>: {{prob.duree_recherche}} mois</li>

                    </ul>
                </div><!-- End sidebar -->

            </div><!-- End blog sidebar -->

        </div>

    </div>
</section><!-- End Blog Single Section -->
{% endblock %}