{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Togotulawo-Numérisation</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'numerisation/assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'numerisation/assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'numerisation/assets/css/templatemo-softy-pinko.css' %}">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                            <!-- <img src="{% static 'numerisation/assets/images/test.png' %}" alt="Togotulawo"/> -->
                            <h3 style="color: pink;">T-Num</h3>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="#welcome" class="active">Accueil</a></li>
                            <li><a href="#features">A propos</a></li>
                            <li><a href="#work-process">Processus</a></li>
                            <li><a href="#testimonials">Avantages</a></li>
                            <li><a href="#pricing-plans">Tarifications</a></li>
                            <li><a href="#blog">Typologies</a></li>
                            <li><a href="#contact-us">contact</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <h1> <strong>SERVICE DE NUMERISATION DE DOCUMENTS</strong> </h1>

                        <!-- <p>Softy Pinko is a professional Bootstrap 4.0 theme designed by Template Mo 
                        for your company at absolutely free of charge</p> -->
                        <a href="#features" class="main-button-slider">Voir plus</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Small Start ***** -->
    <section class="section home-feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="{% static 'numerisation/assets/images/featured-item-01.png' %}" alt=""></i>
                                </div>
                                <h5 class="features-title">Des strategies modernes </h5>
                                <p> Utilisation de matériel de production de numérisation dernière génération 
                                    permettant de numériser plusieurs milliers de pages à l’heure par scanner.</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="{% static 'numerisation/assets/images/featured-item-01.png' %}" alt=""></i>
                                </div>
                                <h5 class="features-title">Meilleur relations</h5>
                                <p>Nous contacter immediatement si vous avez des questions</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="{% static 'numerisation/assets/images/featured-item-01.png' %}" alt=""></i>
                                </div>
                                <h5 class="features-title">Des rendus de qualité </h5>
                                <p>Notre capacité de traitements combinée au développement 
                                   de solutions informatiques, nous permet de structurer et 
                                   d’enrichir vos documents pour exploiter la valeur ajoutée de vos données.</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Small End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section padding-top-70 padding-bottom-0" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="{% static 'numerisation/assets/images/left-image.png' %}" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                    <div class="left-heading">
                        <h2 class="section-title">Qui sommes nous ?</h2>
                    </div>
                    <div class="left-text">
                        <p>Togotulawo-Numérisation est une sous.... de Togotulawo qui fourni des services de numerisations de documents.
                            Situe.....
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                    <div class="left-heading">
                        <h2 class="section-title">Nos objectifs</h2>
                    </div>
                    <div class="left-text">
                        <p>&nbsp; Notre mission est d’améliorer vos processus de travail afin de réduire vos coûts de manière significative et de 
                            gagner en productivité tout en intégrant les notions de sécurité et de mobilité indispensables dans l’organisation 
                            digitale de votre société.<br/>
                            &nbsp; Au commencement notre activité consistait à numériser des milliers de documents, à les mettre en ligne de manière 
                            sécurisée. Puis, nous avons eu l’opportunité d’aller plus loin dans la démarche en proposant des services permettant 
                            de simplifier les traitements et les échanges. Dès lors, nous avons compris qu’au-delà des simples documents il y avait 
                            une notion de Produit et que tout un écosystème digital tournait autour de cet élément.<br/>
                            &nbsp; Ayant acquis une maturité suffisante, nous avons évolué en proposant des services liés à l’organisation digitale .</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <img src="{% static 'numerisation/assets/images/right-image.png' %}" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Home Parallax Start ***** -->
    <section class="mini" id="work-process">
        <div class="mini-content">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-3 col-lg-6">
                        <div class="info">
                            <h1>Process de Numerisation</h1>
                            <p>Le processus de numérisation commence par la réception de documents, 
                                soit dans nos locaux …adresse…, ou sur le site du client avec 
                                une équipe et matériels de numérisation dédiés. Ensuite on passe à la 
                                numérisation des documents physiques grâce à du matériel de production 
                                de numérisation dernière génération permettant de numériser plusieurs 
                                milliers de pages à l’heure par scanner. La reconnaissance Optique de 
                                caractères OCR, nous permet de structurer et d’enrichir vos documents 
                                pour exploiter la valeur ajoutée de vos données……..Plate-forme ??!

                            </p>
                        </div>
                    </div>
                </div>

                <!-- ***** Mini Box Start ***** -->
                <div class="row">
                    <div class="col-lg-3 col-md-9 col-sm-9 col-9">
                        <a href="#" class="mini-box">
                            <i><img src="{% static 'numerisation/assets/images/work-process-item-01.png' %}" alt=""></i>
                            <strong>Réception ou travail sur site client</strong>
                           
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-9 col-9">
                        <a href="#" class="mini-box">
                            <i><img src="{% static 'numerisation/assets/images/work-process-item-01.png' %}" alt=""></i>
                            <strong>Numérisation de documents, scan de documents</strong>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-9 col-9">
                        <a href="#" class="mini-box">
                            <i><img src="{% static 'numerisation/assets/images/work-process-item-01.png' %}" alt=""></i>
                            <strong>Reconnaissance optique des caracteres OCR</strong>
                            <!-- <span>Godard pabst prism fam cliche.</span> -->
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-9 col-9">
                        <a href="#" class="mini-box">
                            <i><img src="{% static 'numerisation/assets/images/work-process-item-01.png' %}" alt=""></i>
                            <strong>Plateforme Documentaire</strong>
                            <!-- <span>Godard pabst prism fam cliche.</span> -->
                        </a>
                    </div>
                    
                </div>
                <!-- ***** Mini Box End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Home Parallax End ***** -->

    <!-- ***** Testimonials Start ***** -->
    <section class="section" id="testimonials">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Gagnez ainsi en productivité et en réactivité.</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>les documents peuvent être consultés n’importe où, n’importe quand par 
                            plusieurs personnes en même temps.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="{% static 'numerisation/assets/images/testimonial-icon.png' %}" alt=""></i>
                            
                            <div class="team-info">
                                <!-- <h3 class="user-name">Catherine Soft</h3> -->
                                <span>Recherche et classement simplifiés </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->

                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="{% static 'numerisation/assets/images/testimonial-icon.png' %}" alt=""></i>
                            
                            <div class="team-info">
                                <!-- <h3 class="user-name">Catherine Soft</h3> -->
                                <span>Centralisation de vos données de manière sécurisée </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->
                
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="{% static 'numerisation/assets/images/testimonial-icon.png' %}" alt=""></i>
                            
                            <div class="team-info">
                                <!-- <h3 class="user-name">Kelvin Wood</h3> -->
                                <span>Gain de productivité</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->

                 <!-- ***** Testimonials Item Start ***** -->
                 <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="{% static 'numerisation/assets/images/testimonial-icon.png' %}" alt=""></i>
                            
                            <div class="team-info">
                                <!-- <h3 class="user-name">Kelvin Wood</h3> -->
                                <span>
                                    Partage de l'information facilité</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->

                 <!-- ***** Testimonials Item Start ***** -->
                 <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="{% static 'numerisation/assets/images/testimonial-icon.png' %}" alt=""></i>
                            
                            <div class="team-info">
                                <!-- <h3 class="user-name">Kelvin Wood</h3> -->
                                <span>
                                    Coûts face à l'archivage physique optimisés</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->
                
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="{% static 'numerisation/assets/images/testimonial-icon.png' %}" alt=""></i>
                            <div class="team-info">
                                <!-- <h3 class="user-name">David Martin</h3> -->
                                <span>Economies rapidement réalisées</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Testimonials End ***** -->

    <!-- ***** Pricing Plans Start ***** -->
    <section class="section colored" id="pricing-plans">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Pricing Plans</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Donec vulputate urna sed rutrum venenatis. Cras consequat magna quis arcu elementum, quis congue risus volutpat.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Pricing Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <h3 class="pricing-title">Starter</h3>
                        </div>
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="currency">$</span>
                                <span class="price">14.50</span>
                                <span class="period">monthly</span>
                            </div>
                            <ul class="list">
                                <li class="active">60 GB space</li>
                                <li class="active">600 GB transfer</li>
                                <li class="active">Pro Design Panel</li>
                                <li>15-minute support</li>
                                <li>Unlimited Emails</li>
                                <li>24/7 Security</li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="#" class="main-button">Purchase Now</a>
                        </div>
                    </div>
                </div>
                <!-- ***** Pricing Item End ***** -->

                <!-- ***** Pricing Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                    <div class="pricing-item active">
                        <div class="pricing-header">
                            <h3 class="pricing-title">Premium</h3>
                        </div>
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="currency">$</span>
                                <span class="price">21.50</span>
                                <span class="period">monthly</span>
                            </div>
                            <ul class="list">
                                <li class="active">120 GB space</li>
                                <li class="active">1200 GB transfer</li>
                                <li class="active">Pro Design Panel</li>
                                <li class="active">15-minute support</li>
                                <li>Unlimited Emails</li>
                                <li>24/7 Security</li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="#" class="main-button">Purchase Now</a>
                        </div>
                    </div>
                </div>
                <!-- ***** Pricing Item End ***** -->

                <!-- ***** Pricing Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <h3 class="pricing-title">Advanced</h3>
                        </div>
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="currency">$</span>
                                <span class="price">42.00</span>
                                <span class="period">monthly</span>
                            </div>
                            <ul class="list">
                                <li class="active">250 GB space</li>
                                <li class="active">5000 GB transfer</li>
                                <li class="active">Pro Design Panel</li>
                                <li class="active">15-minute support</li>
                                <li class="active">Unlimited Emails</li>
                                <li class="active">24/7 Security</li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="#" class="main-button">Purchase Now</a>
                        </div>
                    </div>
                </div>
                <!-- ***** Pricing Item End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Pricing Plans End ***** -->

    <!-- ***** Counter Parallax Start ***** -->
    <section class="counter">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="count-item decoration-bottom">
                            <strong>5726</strong>
                            <span>Documents numerisés</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="count-item decoration-top">
                            <strong>263</strong>
                            <span>Clients satisfaits</span>
                        </div>
                    </div>
                    <!-- <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-bottom">
                            <strong>18</strong>
                            <span>Awards Wins</span>
                        </div>
                    </div> -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="count-item">
                            <strong>3</strong>
                            <span>Pays</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Counter Parallax End ***** -->   

    <!-- ***** Blog Start ***** -->
    <section class="section" id="blog">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Exemples de documents numerisables</h2>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="{% static 'numerisation/assets/images/blog-item-01.png' %}" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#">Reprise d’archives</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="{% static 'numerisation/assets/images/blog-item-02.png' %}" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#">Factures fournisseurs et clients</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="{% static 'numerisation/assets/images/blog-item-02.png' %}" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#">Bulletins de paye</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="{% static 'numerisation/assets/images/blog-item-02.png' %}" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#">Traitement des opérations marketing</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="{% static 'numerisation/assets/images/blog-item-02.png' %}" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#">Coupons</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="{% static 'numerisation/assets/images/blog-item-03.png' %}" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#">Contrats clients et de travail</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Blog End ***** -->

    <!-- ***** Contact Us Start ***** -->
    <section class="section colored" id="contact-us">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Parlez-nous</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>EN RENSEIGNANT LE FORMULAIRE CI-DESSOUS, NOUS NOUS ENGAGEONS :<br/>
                            A vous répondre rapidement<br/>
                            A échanger de manière courtoise<br/>
                            A rester à votre écoute
                         </p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                
                <!-- ***** Contact Form Start ***** -->
                <div class="col-lg-12 col-md-6 col-sm-12">
                    <div class="contact-form">
                        <form id="contact-form" action="" method="post">
                            {% csrf_token %}

                            {% if messages %}
                            {% for message in messages %}
                            <div id="success-message" class="alert alert-success d-flex align-items-center" role="alert">
                                <div style="margin-left: 2%;">
                                    {{message}}
                                </div>
                            </div>
                            
                            {% endfor %}
                            {% endif %}

                          <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Nom et Prenom" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="email" type="email" class="form-control" id="email" placeholder="Adresse mail" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Votre message" required=""></textarea>
                              </fieldset>
                            </div>
                          </div>
                        <!-- Bouton envoyer -->
                        <div class="col-lg-12">
                            <fieldset>
                                <button type="submit" id="submit-btn" class="main-button">Envoyer</button>
                            </fieldset>
                        </div>
                        </form>
                        
                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Contact Us End ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Copyright &copy; 2023 Togotulawo - Design: Togotulawo Team</p>
                </div>
            </div>
        </div>
    </footer>

<script>
    $(document).ready(function () {
        $('#contact-form').submit(function (event) {
            event.preventDefault(); // Prevent the default form submission

            // Get the form data
            var formData = $(this).serialize();

            // Send the AJAX request
            $.ajax({
                type: 'POST',
                url: '{% url "home" %}',
                data: formData,
                success: function (response) {
                    // Handle the success response
                    $('#contact-form').hide(); // Hide the form
                    $('#success-message').show(); // Show the success message
                },
                error: function (xhr, errmsg, err) {
                    // Handle the error response
                    console.log(xhr.status + ': ' + xhr.responseText);
                }
            });
        });
    });
</script>
    
    <!-- jQuery -->
    <!-- <script src="{% static 'numerisation/assets/js/jquery-2.1.0.min.js' %}"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <!-- Bootstrap -->
    <script src="{% static 'numerisation/assets/js/popper.js' %}"></script>
    <script src="{% static 'numerisation/assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'numerisation/assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'numerisation/assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'numerisation/assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'numerisation/assets/js/imgfix.min.js' %}"></script> 
    
    <!-- Global Init -->
    <script src="{% static 'numerisation/assets/js/custom.js' %}"></script>

  </body>
</html>