{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>{{form.nom_client}} {{form.Prénoms_client}}</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />


    <!-- Favicon icon -->
    <link rel="icon" href="" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" type="text/css" href="./static/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" type="text/css" href="./static/assets/plugins/animation/css/animate.min.css">

    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>




    <!-- vendor css -->
    <link rel="stylesheet" type="text/css" href="./static/assets/css/style.css">
    <link rel="stylesheet" href="./static/assets/css/dash.css">

<style>
    @media print {
        #printPageButton {
            display: none;
        }
    }
</style>
</head>

<body class="">



    <!-- [ Main Content ] start -->

    <div class="pcoded-main-container">
        <div class="col-lg-12">
            <div class="card card-body ">



                <div class="card-header">
                    <h3>TOGOTULAWO</h3>
                </div>
                <div class="card-body">
                    <h5>Identité du client</h5>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>Nom: </label>
                                    {{postule.nom_du_candidat}}
                                </div>

                                <div class="form-group">
                                    <label>Prénoms:</label>
                                    {{postule.prenom_du_candidat}}
                                </div>


                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label>Contact:</label>
                                {{postule.contact_du_candidat}}
                            </div>

                            <div class="form-group">
                                <label>Email:</label>
                                {{postule.email_du_candidat}}
                            </div>


                        </div>
                    </div>

                    <h5>Lettre de motivation</h5>
                    <hr>
                    <div class="row">
                        <!-- [ basic-map ] start -->
                        <div class="col-lg-12">
                            <div class="form-group">
                                {{postule.motivation_du_candidat|safe}}
                            </div>
                                
                        </div>
                    
                    
                    
                    </div>
                    
                    <br>

                    <div class="d-grid gap-2 col-2 mx-auto">
                        <a href="{% url 'entreprise:postule_read' postule.id %}" id="printPageButton" class="btn btn-outline-danger hidden-print">
                            Retour</a>
                        <button id="printPageButton" class="btn btn-outline-info hidden-print" onclick="imprimer()"><span
                                class="glyphicon glyphicon-print" aria-hidden="true"></span> Imprimer</button>

                    </div>
                </div>


            </div>
        </div>



        <script>function imprimer() {
			window.print();
		}
        </script>

</body>

</html>

