{% extends 'ense_index.html' %}
{% block content %}

<div class="container">
    <div class="row">

        <div class="col-md-8">
            <div class="card card-body">
                <h4>Lettre de motivation</h4>
                <hr>

                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h6>{{postule.motivation_du_candidat|safe}}</h6>

                        </div>



                    </div>
                </div>

            </div>
        </div>


        <div class="col-md">
            <div class="card card-body">
                <h5>Informations du postulant:</h5>
                <hr>
                <h6>Nom: {{postule.nom_du_candidat}}</h6>
                <h6>Prénoms: {{postule.prenom_du_candidat}}</h6>
                <h6>Contact: {{postule.contact_du_candidat}}</h6>
                <h6>Email: <a href="">{{postule.email_du_candidat}}</a></h6>
                <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'entreprise:app_print' postule.id %}">Imprimer</a>

                <!-- <a class="btn btn-outline-info hidden-print" onclick="myFunction()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</a> -->



            </div>


        </div>
    </div>
</div>
</div>


{% endblock %}