{% extends 'ense_index.html' %}
{% block content %}
{%load static%}


<div class="container">
    <div class="row">

        <div class="col-md-8">
            <div class="card card-body">
                <h4>Désolé, vous n'êtes pas un utilsateur PREMIUM</h4>
                <hr>

                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h6>Pour pouvoir héberger des documents sur la plateforme, vous devez être un utilisateur premium,
                                merci de nous contacter aux adresses suivantes si vous voulez devenir premium.
                                <br><br>
                                <p>Email: <a href="">contact@togotulawo.com</a></p>
                                <p>Contact: +228 92 55 55 55</p> 
                            </h6>

                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
</div>


{% endblock %}