{% load static %}
<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Togotulawo</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="icon" href="{% static 'gedus/images/favicon.png' %}" type="image/x-icon">
	<link rel="stylesheet" href="{% static 'gedus/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'gedus/css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'gedus/css/fontawesome/fontawesome-all.css' %}">
	<link rel="stylesheet" href="{% static 'gedus/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'gedus/css/linearicons.css' %}">
	<link rel="stylesheet" href="{% static 'gedus/css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'gedus/css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'gedus/css/chartist.css' %}">
	<link rel="stylesheet" href="{% static 'gedus/css/main.css' %}">
	<link rel="stylesheet" href="{% static 'gedus/css/color.css' %}">
	<link rel="stylesheet" href="{% static 'gedus/css/transitions.css' %}">
	<link rel="stylesheet" href="{% static 'gedus/css/responsive.css' %}">
	<script src="{% static 'gedus/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
	<style>
		html,
		body {
			height: 100%;
			position: relative;
		}
	</style>
</head>

<body class="sj-comingsoonpage">
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!--************************************
				Preloader Start
	*************************************-->
	<div class="preloader-outer">
		<div class='loader'>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
		</div>
	</div>
	<!--************************************
				Preloader End
	*************************************-->
	<!--************************************
			Wrapper Start
	*************************************-->
	<div id="sj-wrapper" class="sj-wrapper">
		<!--************************************
				Main Start
		*************************************-->
		<main id="sj-main" class="sj-main sj-haslayout">
			<div class="sj-comingsoon">
				<div class="sj-comingsoonhead">
					<strong class="sj-logo"><img src="{% static 'gedus/images/logoc.png' %}" alt="image description"></strong>
					<ul class="sj-socialicons sj-socialiconssimple">
						<li class="sj-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook-f"></i></a></li>
						<li class="sj-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
						<li class="sj-linkedin"><a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a>
						</li>
						<li class="sj-googleplus"><a href="javascript:void(0);"><i class="fab fa-google-plus-g"></i></a>
						</li>
						<li class="sj-rss"><a href="javascript:void(0);"><i class="fab fa-rss"></i></a></li>
					</ul>
				</div>
				<div class="sj-comingsooncontent">
					<div class="container">
						<div class="row">
							<div class="col-12 col-sm-12 offset-sm-0 col-md-12 offset-md-0 col-lg-8 offset-lg-2">
								<div id="sj-comingsooncounter" class="sj-comingsooncounter"></div>
								<div class="sj-comingsooninfo">
									<h3>Site Web en Maintenance...</h3>
									<div class="sj-description">
										<p>Nous nous excusons pour la gêne occasionnée, mais notre site web est actuellement en cours de maintenance planifiée pour
										améliorer votre expérience de navigation. <br>
										
										Si vous avez des questions urgentes ou avez besoin d'assistance, n'hésitez pas à contacter notre équipe de support
										client à l'adresse <b style="color: black;">togotulawo@gmail.com</b> ou au numéro de téléphone <b style="color: black;">+228 93 58 17 17</b>. <br>
										
										Nous vous remercions de votre compréhension et de votre soutien continu.
										
											<span>Equipe Togotulawo.</span></p>
										<a class="sj-btn" href="javascript:void(0);">S'enregistrer</a>
									</div>
								</div>
								<!-- <figure class="sj-comingsoonimg">
									<img src="{% static 'gedus/images/comingsoon-img.jpg' %}" alt="image description">
								</figure> -->
							</div>
						</div>
					</div>
				</div>
				<div class="sj-comingsoonbottom">
					<div class="container">
						<div class="row">
							<div class="col-12 col-sm-12 col-md-12 col-lg-12">
								<a class="sj-btnemail" href="mailto:info@domain.com"><i
										class="lnr lnr-envelope"></i><span>info@togotulawo.com</span></a>
								<p class="sj-copyrights">© 2022 Togotulawo. <span>All Rights Reserved</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!--************************************
				Main End
		*************************************-->
	</div>
	<!--************************************
			Wrapper End
	*************************************-->
	<script src="{% static 'gedus/js/vendor/jquery-3.3.1.js' %}"></script>
	<script src="{% static 'gedus/js/vendor/jquery-library.js' %}"></script>
	<script src="{% static 'gedus/js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'gedus/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'gedus/js/circle-progress.js' %}"></script>
	<script src="{% static 'gedus/js/scrollbar.min.js' %}"></script>
	<script src="{% static 'gedus/js/chartist.min.js' %}"></script>
	<script src="{% static 'gedus/js/countdown.js' %}"></script>
	<script src="{% static 'gedus/js/appear.js' %}"></script>
	<script src="{% static 'gedus/js/main.js' %}"></script>
</body>

</html>