{% extends 'index.html' %}
{% load article_custom_tags %}
{% load humanize %}

{% block title %}
<title>Mes publications</title>
{% endblock title %}

{% block dashboard %}

<h3 class="text-center">Mes Publications</h3> <br />
<div class="row">
	<div class="col">
		<div class="card card-body">

			<form method="get">
				{{myfilter.form}}

				<button class="btn btn-primary btn-sm" type="submit">Rechercher</button>
			</form>

		</div>
	</div>

</div>

<br>

<!-- [ Main Content ] start -->
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Titre</th>
			<th scope="col">Date de publication</th>
			<th scope="col">Visible</th>
			<th scope="col">Action</th>

		</tr>
	</thead>
	<tbody>
		{% for i in article %}
		<tr>
			<th scope="row">{{forloop.counter}}</th>
			<td>{{i.title}}</td>
			<td>{{i.publish_date}}</td>
			<td>{{i.active}}</td>
			<td>
				<a class="btn btn-sm btn-info" href="{% url 'article_update' i.slug %}">Modifier</a>
				<a class="btn btn-sm btn-danger" href="{% url 'article_delete' i.id %}">Supprimer</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>

</div>

</div>
</div>
</div>
<!-- [ Main Content ] end -->

{% endblock %}