{% extends 'index.html' %}
{% load article_custom_tags %}
{% load humanize %}

{% block content %}



<h3 class="text-center">Mes Ventes </h3> <br/>

 <!--Graphs-->
 <div class="container">
    <div class="row my-5">
        <div class="col-md-6">
            <div class="bg-white">
                <canvas id="myChart1" width="400" height="300"></canvas>
                <script>
                    var ctx = document.getElementById('myChart1').getContext('2d');
                    var myChart1 = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: [{% for i in art %} '{{i.title}}', {% endfor %}],
                            datasets: [{
                                label: 'Article',
                                data: [12, 19, 3, 5, 2, 3],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                </script>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-white">
                <canvas id="myChart" width="400" height="300"></canvas>
                <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [{% for i in art %} '{{i.title}}', {% endfor %}],
                            datasets: [{
                                label: 'Documents les plus vendus',
                                data: [12, 19, 3, 5, 2, 3],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</div>
<!--End Graphs-->
    <div class="row">
        <div class="col">
            <div class="card card-body">

                <form method="get">
										{{myfilter.form}}

                    <button class="btn btn-primary btn-sm" type="submit">Rechercher</button>
                </form>

            </div>
        </div>

    </div>

	<br>

<!-- [ Main Content ] start -->
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Order ID</th>
			<th scope="col">Payment ID</th>
			<th scope="col">Document title</th>
			<th scope="col">Client</th>
			<th scope="col">Statut</th>
			<th scope="col">Action</th>
			
		</tr>
	</thead>
	<tbody>
		{% for i in order %}
		<tr>
			<th scope="row">{{forloop.counter}}</th>
			<td>{{i.order_id}}</td>
			<td>{{i.payment_id}}</td>
			<td>{{i.article.title}}</td>
			<td>{{i.user.get_full_name}}</td>
			<td>{{i.status}}</td>
            <td>
				<a class="btn btn-sm btn-info" href="">Afficher</a>
			</td>			
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>

</div>

</div>
</div>
</div>
<!-- [ Main Content ] end -->


{% endblock %}