{% extends 'main_home.html' %}

{% block title %}
    <title>Contact</title>
{% endblock title %}


{% block landing %}

<div class="main-container">
    <div class="content-wrapper">

        <div class="content-section">
            <ul>
             <li class="adobe-product">
              <div class="products">
               
                Email
              </div>
              <span class="status">
               <span class="status-circle green"></span>
               togotulawo@gmail.com</span>
              <div class="button-wrapper">
                <a href="mailto:togotulawo@gmail.com?subject=Demande d'information">
               <button class="content-button status-button open">contacter</button>
                </a>
               
              </div>
             <li class="adobe-product">
              <div class="products">
               
               Tél
              </div>
              <span class="status">
               <span class="status-circle green"></span>
               +228 93 58 17 17</span>
              <div class="button-wrapper">
                <a href="tel:0022893581717">
               <button class="content-button status-button open">appeler</button>
            </a>
              </div>
             <li class="adobe-product">
              <div class="products">
               
               WhatsApp
              </div>
              <span class="status">
               <span class="status-circle green"></span>
               +228 83 58 17 17</span>
              <div class="button-wrapper">
                <a href="https://api.whatsapp.com/send?phone=228 93581717&text=Demande%20d'%20information">
               <button class="content-button status-button open">écrire</button>
            </a>
              </div>
             </li>
             <li class="adobe-product">
              <div class="products">
               
               Facebook
              </div>
       
              <span class="status">
               <span class="status-circle green"></span>
               Togotulawo Sarl U</span>
              <div class="button-wrapper">
                <a href="https://www.facebook.com/profile.php?id=100088644978882">
               <button class="content-button status-button open">visiter</button>
                </a>
               
              </div>
             </li>
             <li class="adobe-product">
              <div class="products">
               
               Instagram
              </div>
              <span class="status">
               <span class="status-circle green"></span>
               @togotulawo</span>
              <div class="button-wrapper">
                <a href="https://www.instagram.com/togotulawo/">
               <button class="content-button status-button open">visiter</button>
            </a>
              </div>
             </li>
             <li class="adobe-product">
              <div class="products">
               
               Twitter
              </div>
              <span class="status">
               <span class="status-circle green"></span>
               @togotulawo</span>
              <div class="button-wrapper">
                <a href="https://twitter.com/togotulawo?t=LQBs8lb-39ooSrbSgojx4g&s=09">
               <button class="content-button status-button open">visiter</button>
                </a>
              </div>
             </li>
             <li class="adobe-product">
              <div class="products">
               
               Linkedin
              </div>
              <span class="status">
               <span class="status-circle green"></span>
               @togotulawo</span>
              <div class="button-wrapper">
               <button class="content-button status-button open">visiter</button>
               
              </div>
             </li>
            </ul>
           </div>
    </div>
</div>


{% endblock %}
