{% extends 'main_base.html' %}
{% load article_custom_tags %}
{% load humanize %}


{% block title %}
<title>Bibliothèque</title>
{% endblock title %}


{% block content %}

<!-- ======= Recent Blog Posts Section ======= -->
<section id="recent-blog-posts" class="recent-blog-posts">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <div class="card-body">
                <b>Filtrer Par : - </b>

            </div>
        </header>

        <div class="row">
            {% for art in article %}
            <div class="col-lg-4">
                <div class="post-box">
                    <div class="post-img"><img src="{{art.article.couverture.url}}" class="img-fluid" alt=""></div>
                    <span class="post-date">{{art.article.publish_date}}</span>
                    <h3 class="post-title">{{art.article.title}}</h3>
                    <a href="/ged/article/{{art.article.slug}}" class="readmore stretched-link mt-auto"><span>Lire
                            Plus</span><i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>
        <br>
        <div class="row">
            {% for fav in new %}
            <div class="col-lg-4">
                <div class="post-box">
                    <div class="post-img"><img src="{{art.article.couverture.url}}" class="img-fluid" alt=""></div>
                    <span class="post-date">{{fav.publish_date}}</span>
                    <h3 class="post-title">{{fav.title}}</h3>
                    <a href="/ged/article/{{fav.slug}}" class="readmore stretched-link mt-auto"><span>Lire Plus</span><i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

</section><!-- End Recent Blog Posts Section -->



{% endblock %}