{% extends 'main_base.html' %}
{% load article_custom_tags %}
{% load humanize %}
{% load static %}


{% block title %}
<title>Caisse</title>
{% endblock title %}


{% block content %}

<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a href="{% url 'main:accueil' %}">Accueil</a></li>
            <li>Confirmation de l'achat</li>
        </ol>
        <h2>Confirmation de l'achat</h2>

    </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
    <div class="container">

        <div class="row gy-4">
            {% if article.couverture %}
            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">

                        <div class="swiper-slide">
                            <img src="{{article.couverture.url}}" alt="">
                        </div>

                    </div>

                </div>
            </div>
            {% endif %}
            <div class="col-lg-4">
                <div class="portfolio-info">
                    <h3>Détails</h3>
                    <ul>
                        <li><strong>Titre</strong>: {{article.title}}</li>
                        <br>
                        <form action="/checkout/{{article.slug}}" method="POST">
                            {% csrf_token %}
                            <li>Choisissez le réseau:</li>
                            <li>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div>
                                            <img style="width:100px;height:50px;"
                                                src="{% static 'main/assets/img/tmoney.png' %}" alt="T-money">
                                        </div>
                                        <input type="radio" name="network" value="TMONEY" id="">
                                    </div>
                                    <div class="col-md-4">
                                        <div>
                                            <img style="width:100px;height:50px;"
                                                src="{% static 'main/assets/img/flooz.jpg' %}" alt="Flooz">
                                        </div>
                                        <input type="radio" name="network" value="FLOOZ" id="">
                                    </div>
                                </div>
                            </li>
                            <li>Entrez votre numéro</li>


                            <div class="row">
                                <div class="col-md-8">
                                    <input type="tel" name="phone_number" class="form-control" id="">

                                </div>
                            </div>
                        <div>

                            {% if coupon %}

                                <p class="alert alert-light border ">
                                    Coupon Code Applied
                                    You Have Got {{coupon.discount}}% Discount
                                </p>
                                <br>
                                <p class="display-5">Montant : <b>{% cal_sellprice article.price coupon.discount as value %}
                                        {{value|intcomma|cfa}}</b></p>

                                <a class="btn btn-primary border"
                                    href="?action=create_payment&couponcode={{coupon.code}}">Acheter
                                </a>

                            {%else%}
                                <p class="display-7">Montant : <b>{% cal_sellprice article.price article.discount as value %}
                                        {{value|intcomma|cfa}}</b></p>

                                
                                    <button class="btn btn-info">Payer</button>



                            {% endif %}

                        </div>
                        </form>
                        <br>
                        {% if coupon_code_message %}
                        <div class="alert alert-info">
                            {{coupon_code_message}}
                        </div>
                        {% endif %}
                        <h5>Code Coupon</h5>
                        <ul>
                            <li>Avez vous un code coupon ? Entrez</li>
                            <form action="" method="get">

                                <div class="row">
                                    <div class="col-md-8">
                                        <input type="text" name="couponcode" class="form-control" id="">

                                    </div>

                                    <div class="col-md-1">

                                        <input type="submit" value="Appliquer" class="btn btn-info">


                                    </div>
                                </div>


                            </form>

                        </ul>
                    </ul>
                    <!-- <a class="btn btn-light border"
                        href="https://paygateglobal.com/v1/page?token=2a2b0731-8259-40e3-8df0-26df05801e0e&amount={{value}}&description=Achat de {{article.title}}&identifier={{identifier}}&{{url}}">Acheter</a> -->
                </div>




            </div>



        </div>

    </div>
</section><!-- End Portfolio Details Section -->


{% if error is not None %}

<script>

    window.onload = () => {
        alert("{{error}}")
    }

</script>

{% endif %}

{% endblock %}

