{% extends 'main_base.html' %}


{% block title %}
<title>F.A.Q</title>
{% endblock title %}


{% block content %}


<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            
            <p>Questions Fréquemment Posées</p>
        </header>

        <div class="row">
            <div class="col-lg-6">
                <!-- F.A.Q List 1-->
                <div class="accordion accordion-flush" id="faqlist1">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq-content-1">
                                Avec quel type de compte je peux publier un article ou un document ?
                            </button>
                        </h2>
                        <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                            <div class="accordion-body">
                                Pour publier un quelconque document en tant que personne physique, vous devez absolument créer un
                                compte auteur, une fois le compte créer, vous verrez dans le submenu l'option Gestion des publications.
                                Une fois dans gestion de publication vous verrez le button publier, dans cette option vous verrer toutes les
                                informations requises pour faire une publication.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq-content-2">
                                Quel est le délais imparti pour recevoir les transactions des ventes ?
                            </button>
                        </h2>
                        <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                            <div class="accordion-body">
                                Le délais minimum pour recevoir vos transactions est de 10 jours, toutes fois pour certaines raisons ca peut aller
                                aù dela de ce qui est prévu. Merci de nous contacter sur le <a href="contact@togotulawo.com">contact@togotulawo.com</a>  ou sur le 92 55 55 55.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq-content-3">
                                Quel type de format de document je peux publier ?
                            </button>
                        </h2>
                        <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                            <div class="accordion-body">
                                Plusieurs formats y sont accèptés: pdf, docx(word), xmls/csv(excel), ppt(powerpoint), nous travaillons 
                                d'arrache pied pour vous servir d'avantage avec de nouveaux formats.
                            </div>
                        </div>
                    </div>

                   

                </div>
            </div>

            <div class="col-lg-6">

                <!-- F.A.Q List 2-->
                <div class="accordion accordion-flush" id="faqlist2">

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq2-content-1">
                                C'est qui un utilisateur premuim ?
                            </button>
                        </h2>
                        <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                            <div class="accordion-body">
                                Un utilsateur premium un utilsateur (institution) qui a en plus des fonctionnalités disponibles à tous les
                                utilisateurs le privilège de pouvoir heberger des documents de manière sécuriser sur la plateforme. Cette fonctionnalité
                                est disponible sur une souscription mensuelle de 25.000f cfa le mois. 
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq2-content-2">
                                Tempus quam pellentesque nec nam aliquam sem et tortor consequat?
                            </button>
                        </h2>
                        <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                            <div class="accordion-body">
                                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est
                                ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit
                                adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq2-content-2">
                                Tempus quam pellentesque nec nam aliquam sem et tortor consequat?
                            </button>
                        </h2>
                        <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                            <div class="accordion-body">
                                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est
                                ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit
                                adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>

        </div>

    </div>

</section><!-- End F.A.Q Section -->

{% endblock %}