{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Togotulawo | Bienvenue</title>
<!-- Stylesheets -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Nunito+Sans:wght@300;600;700;800;900&display=swap" rel="stylesheet">

<!-- Color Switcher Mockup -->
<link href="{% static 'css/color-switcher-design.css' %}" rel="stylesheet">

<!-- Color Themes -->
<link id="theme-color-file" href="{% static 'css/color-themes/default-theme.css' %}" rel="stylesheet">

<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js' %}"></script><![endif]-->
<!--[if lt IE 9]><script src="{% static 'js/respond.js' %}"></script><![endif]-->
</head>

<body class="hidden-bar-wrapper">

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
 	<!-- Main Header-->
    <header class="main-header header-style-three">
    	
		<!-- Header Top Two -->
        <div class="header-top-two">
            <div class="outer-container">
                <div class="clearfix">
					
					<!-- Top Left -->
					<div class="top-left clearfix">
						<!-- Info List -->
						<ul class="info-list">
							<li>Nous sommes créatifs, ambitieux et prêts à relever des défis !<strong><a href="contact.html">Embauchez-nous</a></strong></li>
							<li><a href="contact.html"><span class="icon fa fa-location-arrow"></span> Sogbossito, Lomé, Togo</a></li>
						</ul>
					</div>
					
					<!-- Top Right -->
                    <div class="top-right pull-right clearfix">
						<!-- Info List -->
						<ul class="info-list">
							<li><a href="mailto:info@webmail.com"><span class="icon flaticon-email"></span> togotulawo@gmail.com</a></li>
							<li><a href="tel:786-875-864-75"><span class="icon flaticon-telephone"></span> 00228 93 58 17 17</a></li>
						</ul>
						<!-- Social Box -->
						<ul class="social-box">
							<li><a href="#" class="fa fa-facebook-f"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-dribbble"></a></li>
							<li><a href="#" class="fa fa-google"></a></li>
						</ul>
                    </div>
					
                </div>
            </div>
        </div>
		
		<!--Header-Upper-->
        <div class="header-upper">
            <div class="auto-container">
                <div class="clearfix">
                    
                    <div class="pull-left logo-box">
                        <div class="logo"><a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="" title=""></a></div>
                    </div>
                    
                    <div class="pull-right upper-right clearfix">
                        
                        <!--Info Box-->
                        <div class="upper-column info-box">
                            <div class="icon-box"><span class="flaticon-pin"></span></div>
                            <ul>
                                <li><strong>Adresse</strong></li>
                                <li>Sogbossito, Lomé, Togo</li>
                            </ul>
                        </div>
                        
                        <!--Info Box-->
                        <div class="upper-column info-box">
                            <div class="icon-box"><span class="flaticon-email-1"></span></div>
                            <ul>
                                <li><strong>E-Mail</strong></li>
                                <li>togotulawo@gmail.com</li>
                            </ul>
                        </div>
                        
                        <!--Info Box-->
                        <div class="upper-column info-box">
                            <!-- Quote Btn -->
							<div class="btn-box">
								<a href="contact.html" class="theme-btn btn-style-one"><span class="txt">Consultation Gratuite</span></a>
							</div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <!--End Header Upper-->
        
        <!--Header Lower-->
        <div class="header-lower">
            
            <div class="auto-container clearfix">
                <div class="nav-outer clearfix">
					
					<!-- Grid Box -->
					<div class="grid-box navSidebar-button">
						<a href="#" class="icon flaticon-menu-2"></a>
					</div>
					<!-- End Grid Box -->
					
					<!-- Mobile Navigation Toggler -->
					<div class="mobile-nav-toggler"><span class="icon flaticon-menu-2"></span></div>
					<!-- Main Menu -->
					<nav class="main-menu show navbar-expand-md">
						<div class="navbar-header">
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						
						<div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
							<ul class="navigation clearfix">
								<li class="current"><a href="{% url 'home' %}">Accueil</a></li>
								<li class="dropdown"><a href="#">A Propos</a>
									<ul>
										<li><a href="about.html">A Propos</a></li>
										<li><a href="faq.html">Faq</a></li>
										<li><a href="price.html">Nos Prix</a></li>
										<li><a href="team.html">Notre Equipe</a></li>
										<li><a href="testimonial.html">Témoignage</a></li>
									</ul>
								</li>
								<li ><a href="#">Services</a></li>
								<li><a href="#">Projets</a></li>
								<li class="dropdown"><a href="#">Boutique</a>
									<ul>
										<li><a href="shop.html">Nos Produits</a></li>
										<li><a href="shopping-cart.html">Panier</a></li>
										<li><a href="checkout.html">Caisse</a></li>
										<li><a href="account.html">Mon Compte</a></li>
									</ul>
								</li>
								<li><a href="#">Blog</a></li>
								<li><a href="contact.html">Contact</a></li>
							</ul>
						</div>
						
						<!-- Cart Box -->
						<div class="cart-box">
							<div class="dropdown">
								<button class="cart-box-btn dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flaticon-shopping-bag-1"></span><span class="total-cart">2</span></button>
								<div class="dropdown-menu pull-right cart-panel" aria-labelledby="dropdownMenu">

									<div class="cart-product">
										<div class="inner">
											<div class="cross-icon"><span class="icon fa fa-remove"></span></div>
											<div class="image"><img src="{% static 'images/resource/post-thumb-1.jpg' %}" alt="" /></div>
											<h3><a href="shop-single.html">Flying Ninja</a></h3>
											<div class="quantity-text">Quantity 1</div>
											<div class="price">$99.00</div>
										</div>
									</div>
									<div class="cart-product">
										<div class="inner">
											<div class="cross-icon"><span class="icon fa fa-remove"></span></div>
											<div class="image"><img src="{% static 'images/resource/post-thumb-2.jpg' %}" alt="" /></div>
											<h3><a href="shop-single.html">Patient Ninja</a></h3>
											<div class="quantity-text">Quantity 1</div>
											<div class="price">$99.00</div>
										</div>
									</div>
									<div class="cart-total">Sub Total: <span>$198</span></div>
									<ul class="btns-boxed">
										<li><a href="shoping-cart.html">Panier</a></li>
										<li><a href="checkout.html">Caisse</a></li>
									</ul>

								</div>
							</div>
						</div>
						
						<!--Search Box-->
                        <div class="search-box-outer">
                            <div class="search-box-btn"><span class="fa fa-search"></span></div>
                        </div>
						
					</nav>
					<!-- Main Menu End-->
					
					<!-- Options Box -->
                    <div class="options-box clearfix">
                        <div class="option-inner">
							<span class="icon flaticon-24-hours-2"></span>
							<div class="number"><span>Appel D'urgence</span><a href="tel:+228-93-58-17-17">+ (228) 93 58 17 17</a></div>
						</div>
                    </div>
					
                </div>
            </div>
        </div>
        <!-- End Header Lower -->
        
		<!-- Sticky Header  -->
        <div class="sticky-header">
            <div class="auto-container clearfix">
                <!--Logo-->
                <div class="logo pull-left">
                    <a href="{% url 'home' %}" title=""><img src="{% static 'images/logo-small.png' %}" alt="" title=""></a>
                </div>
                <!--Right Col-->
                <div class="pull-right">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav><!-- Main Menu End-->
					
                </div>
            </div>
        </div><!-- End Sticky Menu -->
    
		<!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-multiply"></span></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="" title=""></a></div>
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
            </nav>
        </div><!-- End Mobile Menu -->
	
    </header>
    <!-- End Main Header -->
	
	<!-- Sidebar Cart Item -->
	<div class="xs-sidebar-group info-group">
		<div class="xs-overlay xs-bg-black"></div>
		<div class="xs-sidebar-widget">
			<div class="sidebar-widget-container">
				<div class="widget-heading">
					<a href="#" class="close-side-widget">
						X
					</a>
				</div>
				<div class="sidebar-textwidget">
					
					<!-- Sidebar Info Content -->
					<div class="sidebar-info-contents">
						<div class="content-inner">
							<div class="logo">
								<a href="{% url 'home' %}"><img src="{% static 'images/logo-2.png' %}" alt="" /></a>
							</div>
							<div class="content-box">
								<h2>A Propos</h2>
								<p class="text">Togotulawo est une société spécialisée dans la conception de solutions digitales innovantes visant à simplifier la vie des entreprises et des particuliers. 
									Fondée en 2022 par Joel Assou, notre entreprise se positionne comme un acteur majeur dans le domaine des NTIC au Togo.</p>
								<a href="#" class="theme-btn btn-style-three"><span class="txt">Consultation</span></a>
							</div>
							<div class="contact-info">
								<h2>Contact Info</h2>
								<ul class="list-style-one">
									<li><span class="icon fa fa-location-arrow"></span>Sogbossito, Lomé, Togo</li>
									<li><span class="icon fa fa-phone"></span>(228) 93-58-17-17</li>
									<li><span class="icon fa fa-envelope"></span>togotulawo@gmail.com</li>
									<li><span class="icon fa fa-clock-o"></span>Lun - Ven: 08h00 to 16h00 Sam - Dim: Fermé</li>
								</ul>
							</div>
							<!-- Social Box -->
							<ul class="social-box">
								<li class="facebook"><a href="#" class="fa fa-facebook-f"></a></li>
								<li class="twitter"><a href="#" class="fa fa-twitter"></a></li>
								<li class="linkedin"><a href="#" class="fa fa-linkedin"></a></li>
								<li class="instagram"><a href="#" class="fa fa-instagram"></a></li>
								<li class="youtube"><a href="#" class="fa fa-youtube"></a></li>
							</ul>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!-- END sidebar widget item -->
	
	<!-- Banner Section Three -->
    <section class="banner-section-three">
		<div class="main-slider-carousel owl-carousel owl-theme">
            
            <div class="slide" style="background-image: url({% static 'images/main-slider/image-2.jpeg' %})">
				<div class="color-layer"></div>
				<div class="pattern-layer-one" style="background-image: url({% static 'images/main-slider/pattern-7.png' %})"></div>
				<div class="auto-container">
					<!-- Content Column -->
					<div class="content-column clearfix">
						<div class="inner-column">
							<h1>Optimisez Vos <br> Processus Avec <br>Nos Outils <br> Technologiques</h1>
							<div class="text">Que vous soyez une petite entreprise ou une grande organisation, nous développons des solutions qui améliorent l'efficacité et la productivité.</div>
							<div class="button-box">
								<a href="contact.html" class="theme-btn btn-style-one"><span class="txt">Lire Plus</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="slide" style="background-image: url({% static 'images/main-slider/image-2.jpeg' %})">
				<div class="color-layer"></div>
				<div class="pattern-layer-one" style="background-image: url({% static 'images/main-slider/pattern-7.png' %})"></div>
				<div class="auto-container">
					<!-- Content Column -->
					<div class="content-column clearfix">
						<div class="inner-column">
							<h1>Partenaire En<br>Transformation<br>  Digitale</h1>
							<div class="text">Des technologies innovantes et évolutives pour vous accompagner dans la digitalisation de vos activités, aujourd'hui et demain.</div>
							<div class="button-box">
								<a href="contact.html" class="theme-btn btn-style-one"><span class="txt">Lire Plus</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="slide" style="background-image: url({% static 'images/main-slider/image-2.jpeg' %})">
				<div class="color-layer"></div>
				<div class="pattern-layer-one" style="background-image: url({% static 'images/main-slider/pattern-7.png' %})"></div>
				<div class="auto-container">
					<!-- Content Column -->
					<div class="content-column clearfix">
						<div class="inner-column">
							<h1>Solutions IT Adaptées à Vos Besoins</h1>
							<div class="text">Nous concevons des systèmes robustes et sécurisés <br> qui soutiennent vos opérations tout en répondant à vos exigences uniques.</div>
							<div class="button-box">
								<a href="contact.html" class="theme-btn btn-style-one"><span class="txt">Lire Plus</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</section>
	<!-- End Banner Section Two -->
	
	<!-- Services Section Three -->
	<section class="services-section-three margin-top">
		<div class="auto-container">
			<div class="inner-container">
				<div class="row clearfix">
					
					<!-- Service Block Three -->
					<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="content">
								<div class="service-number">01</div>
								<h4><a href="services-detail.html">Applications Web, Mobile, Desktop</a></h4>
								<div class="text">Nous concevons des applications web et mobiles sur mesure, adaptées aux besoins spécifiques de chaque entreprise, offrant des interfaces conviviales, une sécurité renforcée et une maintenance continue.</div>
							</div>
						</div>
					</div>
					
					<!-- Service Block Three -->
					<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="content">
								<div class="service-number">02</div>
								<h4><a href="services-detail.html">Transformation Digitale</a></h4>
								<div class="text">Nous vous accompagnons dans la transformation digitale de votre entreprise en optimisant vos processus grâce à des solutions IT sur mesure, pour améliorer votre efficacité et votre compétitivité.</div>
							</div>
						</div>
					</div>
					
					<!-- Service Block Three -->
					<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="content">
								<div class="service-number">03</div>
								<h4><a href="services-detail.html"> Gestion de projets TIC</a></h4>
								<div class="text">Nous assurons la gestion complète de vos projets TIC, de la planification à l'exécution, en passant par le suivi, afin de garantir le succès de vos initiatives technologiques à temps.</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Services Section Three -->
	
	<!--Sponsors Section-->
	<section class="sponsors-section style-three">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title">
				<div class="clearfix">
					<div class="pull-left">
						<div class="title">NOUS TRANSFORMONS LES ENTREPRISES</div>
						<h2>Nous Avons Travaillé <br>Avec Ces Clients</h2>
					</div>
					<div class="pull-right">
						<div class="text">Le développement de solutions fiables et évolutives pour tout système d'exploitation. Nous <br>réunissons une expertise approfondie du secteur et les dernières avancées informatiques <br> 
							pour fournir des solutions et des produits personnalisés qui correspondent parfaitement aux <br>besoins et au comportement de leurs utilisateurs.</div>
					</div>
				</div>
			</div>
			<div class="carousel-outer">
                <!--Sponsors Slider-->
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    <li><div class="image-box"><a href="#"><img src="{% static 'images/clients/1.png' %}" alt=""></a></div></li>
                    <li><div class="image-box"><a href="#"><img src="{% static 'images/clients/2.png' %}" alt=""></a></div></li>
                    <li><div class="image-box"><a href="#"><img src="{% static 'images/clients/3.png' %}" alt=""></a></div></li>
                    <li><div class="image-box"><a href="#"><img src="{% static 'images/clients/4.png' %}" alt=""></a></div></li>
					<li><div class="image-box"><a href="#"><img src="{% static 'images/clients/5.png' %}" alt=""></a></div></li>
                    <li><div class="image-box"><a href="#"><img src="{% static 'images/clients/6.png' %}" alt=""></a></div></li>
                    <li><div class="image-box"><a href="#"><img src="{% static 'images/clients/7.png' %}" alt=""></a></div></li>
                    <li><div class="image-box"><a href="#"><img src="{% static 'images/clients/8.png' %}" alt=""></a></div></li>
                    <li><div class="image-box"><a href="#"><img src="{% static 'images/clients/9.png' %}" alt=""></a></div></li>
                    <li><div class="image-box"><a href="#"><img src="{% static 'images/clients/10.png' %}" alt=""></a></div></li>
                    <li><div class="image-box"><a href="#"><img src="{% static 'images/clients/11.png' %}" alt=""></a></div></li>
                    <li><div class="image-box"><a href="#"><img src="{% static 'images/clients/12.png' %}" alt=""></a></div></li>
                    <li><div class="image-box"><a href="#"><img src="{% static 'images/clients/13.png' %}" alt=""></a></div></li>
                </ul>
            </div>
			
		</div>
	</section>
	<!--End Sponsors Section-->
	
	<!-- Fluid Section One -->
    <section class="fluid-section-one">
    	<div class="outer-container clearfix">
        	
            <!-- Content Column -->
            <div class="content-column" style="background-image:url({% static 'images/background/pattern-13.png' %})">
            	<div class="inner-column">
					<!-- Sec Title -->
					<div class="sec-title light">
						<div class="title">Togotulawo En Quelques Chiffres</div>
						<h2>Approuvé Par Plus De <br> 29 Clients Satisfaits</h2>
						<div class="text">Nous écoutons. Nous conseillons. Nous concevons, ensemble. Des clients satisfaits et des relations durables sont notre objectif. Le succès se mesure aux résultats, le plus important étant ce que nos clients pensent de leur expérience avec nous. Ces commentaires nous ont mis sur la bonne voie.</div>
					</div>
					<div class="row clearfix">
						
						<!-- Feature Block Three -->
						<div class="feature-block-three col-lg-4 col-md-4 col-sm-12">
							<div class="inner-box">
								<div class="icon-box">
									<span class="icon flaticon-web-1"></span>
								</div>
								<div class="number">29</div>
								<div class="feature-text">Clients Satisfaits</div>
							</div>
						</div>
						
						<!-- Feature Block Three -->
						<div class="feature-block-three col-lg-4 col-md-4 col-sm-12">
							<div class="inner-box">
								<div class="icon-box">
									<span class="icon flaticon-designer"></span>
								</div>
								<div class="number">63</div>
								<div class="feature-text">Projets terminés</div>
							</div>
						</div>
						
						<!-- Feature Block Three -->
						<div class="feature-block-three col-lg-4 col-md-4 col-sm-12">
							<div class="inner-box">
								<div class="icon-box">
									<span class="icon flaticon-planet-earth"></span>
								</div>
								<div class="number">57</div>
								<div class="feature-text">Recommendations</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
			<!-- Image Column -->
            <div class="image-column" style="background-image:url({% static 'images/resource/metrics.png' %})">
            	<figure class="image-box"><img src="{% static 'images/resource/metrics.png' %}" alt=""></figure>
            </div>
			
		</div>
	</section>
	
	<!-- News Section Three -->
	<section class="news-section-three">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">NOS SERVICES</div>
				<h2>Nous Vous Offrons Tout Une Gamme De Services</h2>
			</div>
			<div class="three-item-carousel owl-carousel owl-theme">
				
				
				
				<!-- News Block Three -->
				<div class="news-block-three style-two">
					<div class="inner-box">
						<div class="lower-content">
							<div class="content">
								<div class="icon-box">
									<span class="icon flaticon-mobile-app"></span>
								</div>
								<h4><a href="news-detail.html">Ingénierie logicielle</a></h4>
								<div class="text">Nous développons des solutions logicielles sur mesure, robustes et évolutives.</div>
								<a class="read-more" href="news-detail.html">Lire Plus<span class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
							</div>
						</div>
						<div class="image">
							<a href="news-detail.html"><img src="{% static 'images/resource/software.png' %}" alt="" /></a>
						</div>
					</div>
				</div>
				
				<!-- News Block Three -->
				<!-- News Block Three -->
				<div class="news-block-three style-two">
					<div class="inner-box">
						<div class="lower-content">
							<div class="content">
								<div class="icon-box">
									<span class="icon flaticon-mobile-app"></span>
								</div>
								<h4><a href="news-detail.html">UI/UX Design</a></h4>
								<div class="text">Nous concevons des expériences utilisateurs intuitives et esthétiques pour booster votre impact digital.</div>
								<a class="read-more" href="news-detail.html">Lire Plus<span class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
							</div>
						</div>
						<div class="image">
							<a href="news-detail.html"><img src="{% static 'images/resource/ui-ux-design-services.png' %}" alt="" /></a>
						</div>
					</div>
				</div>
				
				<!-- News Block Three -->
				<!-- News Block Three -->
				<div class="news-block-three style-two">
					<div class="inner-box">
						<div class="lower-content">
							<div class="content">
								<div class="icon-box">
									<span class="icon flaticon-mobile-app"></span>
								</div>
								<h4><a href="news-detail.html">Data Science</a></h4>
								<div class="text">Nous exploitons le pouvoir des données pour des décisions plus éclairées et stratégiques.</div>
								<a class="read-more" href="news-detail.html">Lire Plus<span class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
							</div>
						</div>
						<div class="image">
							<a href="news-detail.html"><img src="{% static 'images/resource/data-science.png' %}" alt="" /></a>
						</div>
					</div>
				</div>
				<div class="news-block-three style-two">
					<div class="inner-box">
						<div class="lower-content">
							<div class="content">
								<div class="icon-box">
									<span class="icon flaticon-mobile-app"></span>
								</div>
								<h4><a href="news-detail.html">Multimédia</a></h4>
								<div class="text">Nous créons des contenus multimédias captivants pour enrichir votre communication visuelle.</div>
								<a class="read-more" href="news-detail.html">Lire Plus<span class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
							</div>
						</div>
						<div class="image">
							<a href="news-detail.html"><img src="{% static 'images/resource/multimedia.png' %}" alt="" /></a>
						</div>
					</div>
				</div>
				
				
				
					
		</div>
	</section>
	<!-- End News Section Three -->
	
	<!-- Call To Action Two -->
	<section class="call-to-action-section-two">
		<div class="auto-container">
			<div class="inner-container">
				<div class="image">
					<img src="{% static 'images/resource/saas.png' %}" alt="" />
				</div>
				<h3>Vous Recherchez Une Solution <span style="color: orange;">SaaS</span> (Software As A Service) ?</h3>
				<a href="services.html" class="theme-btn btn-style-two"><span class="txt">Contactez-Nous</span></a>
			</div>
		</div>
	</section>
	<!-- End Call To Action Two -->
	
	<!-- Cases Section Two -->
	<section class="cases-section-two">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title">
				<div class="title">DERNIÈRES ÉTUDES DE CAS</div>
				<h2>Lisez Nos Derniers <br> Cas d'Etudes</h2>
			</div>
		</div>
		
		<div class="outer-container">
			
			<div class="five-item-carousel owl-carousel owl-theme">
			
				<!-- Case Block Two -->
				<div class="case-block-two">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'images/gallery/6.jpg' %}" alt="" />
							<div class="overlay-box">
								<a href="{% static 'images/gallery/6.jpg' %}" data-fancybox="case-2" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
								<a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
							</div>
						</div>
						<div class="lower-content">
							<h5><a href="projects-detail.html">Social Media App</a></h5>
							<div class="category">Consulting / Technology</div>
						</div>
					</div>
				</div>
				
				<!-- Case Block Two -->
				<div class="case-block-two">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'images/gallery/7.jpg' %}" alt="" />
							<div class="overlay-box">
								<a href="{% static 'images/gallery/7.jpg' %}" data-fancybox="case-2" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
								<a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
							</div>
						</div>
						<div class="lower-content">
							<h5><a href="projects-detail.html">Social Media App</a></h5>
							<div class="category">Ideas / Technology</div>
						</div>
					</div>
				</div>
				
				<!-- Case Block Two -->
				<div class="case-block-two">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'images/gallery/8.jpg' %}" alt="" />
							<div class="overlay-box">
								<a href="{% static 'images/gallery/8.jpg' %}" data-fancybox="case-2" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
								<a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
							</div>
						</div>
						<div class="lower-content">
							<h5><a href="projects-detail.html">eCommerce Website</a></h5>
							<div class="category">Design / Development</div>
						</div>
					</div>
				</div>
				
				<!-- Case Block Two -->
				<div class="case-block-two">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'images/gallery/9.jpg' %}" alt="" />
							<div class="overlay-box">
								<a href="{% static 'images/gallery/9.jpg' %}" data-fancybox="case-2" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
								<a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
							</div>
						</div>
						<div class="lower-content">
							<h5><a href="projects-detail.html">Develop Your IT Bussiness </a></h5>
							<div class="category">Project / IT Business</div>
						</div>
					</div>
				</div>
				
				<!-- Case Block Two -->
				<div class="case-block-two">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'images/gallery/10.jpg' %}" alt="" />
							<div class="overlay-box">
								<a href="{% static 'images/gallery/10.jpg' %}" data-fancybox="case-2" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
								<a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
							</div>
						</div>
						<div class="lower-content">
							<h5><a href="projects-detail.html">Manage Your IT Solution</a></h5>
							<div class="category">IT Solution</div>
						</div>
					</div>
				</div>
				
				<!-- Case Block Two -->
				<div class="case-block-two">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'images/gallery/6.jpg' %}" alt="" />
							<div class="overlay-box">
								<a href="{% static 'images/gallery/6.jpg' %}" data-fancybox="case-2" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
								<a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
							</div>
						</div>
						<div class="lower-content">
							<h5><a href="projects-detail.html">Social Media App</a></h5>
							<div class="category">Consulting / Technology</div>
						</div>
					</div>
				</div>
				
				<!-- Case Block Two -->
				<div class="case-block-two">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'images/gallery/7.jpg' %}" alt="" />
							<div class="overlay-box">
								<a href="{% static 'images/gallery/7.jpg' %}" data-fancybox="case-2" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
								<a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
							</div>
						</div>
						<div class="lower-content">
							<h5><a href="projects-detail.html">Social Media App</a></h5>
							<div class="category">Ideas / Technology</div>
						</div>
					</div>
				</div>
				
				<!-- Case Block Two -->
				<div class="case-block-two">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'images/gallery/8.jpg' %}" alt="" />
							<div class="overlay-box">
								<a href="{% static 'images/gallery/8.jpg' %}" data-fancybox="case-2" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
								<a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
							</div>
						</div>
						<div class="lower-content">
							<h5><a href="projects-detail.html">eCommerce Website</a></h5>
							<div class="category">Design / Development</div>
						</div>
					</div>
				</div>
				
				<!-- Case Block Two -->
				<div class="case-block-two">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'images/gallery/9.jpg' %}" alt="" />
							<div class="overlay-box">
								<a href="{% static 'images/gallery/9.jpg' %}" data-fancybox="case-2" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
								<a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
							</div>
						</div>
						<div class="lower-content">
							<h5><a href="projects-detail.html">Develop Your IT Bussiness </a></h5>
							<div class="category">Project / IT Business</div>
						</div>
					</div>
				</div>
				
				<!-- Case Block Two -->
				<div class="case-block-two">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'images/gallery/10.jpg' %}" alt="" />
							<div class="overlay-box">
								<a href="{% static 'images/gallery/10.jpg' %}" data-fancybox="case-2" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
								<a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
							</div>
						</div>
						<div class="lower-content">
							<h5><a href="projects-detail.html">Manage Your IT Solution</a></h5>
							<div class="category">IT Solution</div>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
		
	</section>
	<!-- End Cases Section Two -->
	
	<!-- Pricing Section -->
	<!-- <section class="pricing-section">
		<div class="auto-container">

			<div class="sec-title centered">
				<div class="title">Our Pricing Plans</div>
				<h2>A Monthly Project Fee <br> Price Plans</h2>
			</div>
			
			<div class="row clearfix">
			
			
				<div class="price-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<h3>Basic</h3>
						<div class="text">Designed for businesses with standard health requirements</div>
						<div class="price">$ 70.00 <span>/ Per Month</span></div>
						<ul class="price-list">
							<li>24/7 Support</li>
							<li>Advanced Options</li>
							<li>16 GB Storage</li>
							<li>Unlimited Support</li>
						</ul>
						<div class="btn-box">
							<a href="contact.html" class="theme-btn btn-style-one"><span class="txt">Get Started</span></a>
						</div>
					</div>
				</div>
				
				
				<div class="price-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<h3>Standard</h3>
						<div class="text">Designed for businesses with standard health requirements</div>
						<div class="price">$ 90.00 <span>/ Per Month</span></div>
						<ul class="price-list">
							<li>24/7 Support</li>
							<li>Advanced Options</li>
							<li>16 GB Storage</li>
							<li>Unlimited Support</li>
						</ul>
						<div class="btn-box">
							<a href="contact.html" class="theme-btn btn-style-one"><span class="txt">Get Started</span></a>
						</div>
					</div>
				</div>
				
				
				<div class="price-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<h3>Professional</h3>
						<div class="text">Designed for businesses with standard health requirements</div>
						<div class="price">$ 100.00 <span>/ Per Month</span></div>
						<ul class="price-list">
							<li>24/7 Support</li>
							<li>Advanced Options</li>
							<li>16 GB Storage</li>
							<li>Unlimited Support</li>
						</ul>
						<div class="btn-box">
							<a href="contact.html" class="theme-btn btn-style-one"><span class="txt">Get Started</span></a>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</section> -->
	<!-- End Pricing Section -->
	
	<!-- News Section Four -->
	<section class="news-section-four">
		<div class="image-layer" style="background-image: url({% static 'images/background/pattern-19.png' %})"></div>
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title light centered">
				<div class="title">NOTRE BLOG</div>
				<h2>Cliquez Sur Nos Dernières <br>Actualités Et Articles</h2>
			</div>
			
			<div class="row clearfix">
				
				<!-- News Block -->
				<div class="news-block-four col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="news-detail.html"><img src="{% static 'images/resource/news-8.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="post-date">22 <span>DEC</span></div>
							<h4><a href="news-detail.html">Define World Best IT Solution Technology</a></h4>
							<div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has ...</div>
							<ul class="post-meta">
								<li><span class="icon flaticon-comment"></span>3 comments</li>
								<li><span class="icon flaticon-user"></span>Admin</li>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- News Block -->
				<div class="news-block-four col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="news-detail.html"><img src="{% static 'images/resource/news-9.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="post-date">22 <span>DEC</span></div>
							<h4><a href="news-detail.html">You Must Try 20 Secret Of Digital Transform</a></h4>
							<div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has ...</div>
							<ul class="post-meta">
								<li><span class="icon flaticon-comment"></span>3 comments</li>
								<li><span class="icon flaticon-user"></span>Admin</li>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- News Block -->
				<div class="news-block-four col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="news-detail.html"><img src="{% static 'images/resource/news-10.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="post-date">22 <span>DEC</span></div>
							<h4><a href="news-detail.html">Digital Conference Of IT Tech Events in 2019</a></h4>
							<div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has ...</div>
							<ul class="post-meta">
								<li><span class="icon flaticon-comment"></span>3 comments</li>
								<li><span class="icon flaticon-user"></span>Admin</li>
							</ul>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</section>
	<!-- End News Section Four -->
	
	<!-- Info Section -->
	<section class="info-section" style="background-image: url({% static 'images/background/world.jpeg' %})">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Logo Column -->
				<div class="logo-column col-lg-3 col-md-6 col-sm-12">
					<div class="inner-column">
						<div class="logo">
							<a href="{% url 'home' %}"><img src="{% static 'images/logo-2.png' %}" alt="" /></a>
						</div>
					</div>
				</div>
				
				<!-- Info Column -->
				<div class="info-column col-lg-3 col-md-6 col-sm-12">
					<div class="inner-column">
						<div class="icon-box"><span class="flaticon-pin"></span></div>
						<ul>
							<li><strong>Address</strong></li>
							<li>Sogbossito, Lomé, Togo</li>
						</ul>
					</div>
				</div>
				
				<!-- Info Column -->
				<div class="info-column col-lg-3 col-md-6 col-sm-12">
					<div class="inner-column">
						<div class="icon-box"><span class="flaticon-phone-call"></span></div>
						<ul>
							<li><strong>Phone</strong></li>
							<li>+228 93 58 17 17</li>
						</ul>
					</div>
				</div>
				
				<!-- Info Column -->
				<div class="info-column col-lg-3 col-md-6 col-sm-12">
					<div class="inner-column">
						<div class="icon-box"><span class="flaticon-email-1"></span></div>
						<ul>
							<li><strong>E-Mail</strong></li>
							<li>togotulawo@gmail.com</li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Info Section -->
	
	<!-- Main Footer -->
    <footer class="main-footer style-three">
		<div class="pattern-layer-three" style="background-image: url({% static 'images/background/pattern-14.png' %})"></div>
		<div class="pattern-layer-four" style="background-image: url({% static 'images/background/pattern-15.png' %})"></div>
		<!--Waves end-->
    	<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
					<!-- Footer Column -->
					<div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget logo-widget">
							<h5>A Propos de Togotulawo</h5>
							<div class="text">Togotulawo est une société spécialisée dans la conception de solutions digitales innovantes visant à simplifier la vie des entreprises et des particuliers. 
								Fondée en 2022 par Joel Assou, notre entreprise se positionne comme un acteur majeur dans le domaine des NTIC au Togo.</div>
						</div>
					</div>
					
					<!-- Footer Column -->
					<div class="footer-column col-lg-2 col-md-6 col-sm-8">
						<div class="footer-widget links-widget">
							<h5>Liens Rapides</h5>
							<ul class="list-link">
								<li><a href="">Managed IT services</a></li>
								<li><a href="">Cloud Services</a></li>
								<li><a href="">IT support & helpdesk</a></li>
								<li><a href="">Cyber security</a></li>
								<li><a href="">Custom Software</a></li>
								<li><a href="">Free Consultation</a></li>
								<li><a href="">Our Business Growth</a></li>
							</ul>
						</div>
					</div>

					<div class="footer-column col-lg-2 col-md-6 col-sm-8">
						<div class="footer-widget links-widget">
							<h5>Nos Services</h5>
							<ul class="list-link">
								<li><a href="">Managed IT services</a></li>
								<li><a href="">Cloud Services</a></li>
								<li><a href="">IT support & helpdesk</a></li>
								<li><a href="">Cyber security</a></li>
								<li><a href="">Custom Software</a></li>
								<li><a href="">Free Consultation</a></li>
								<li><a href="">Our Business Growth</a></li>
							</ul>
						</div>
					</div>
					
                    <!-- Footer Column -->
					<div class="footer-column col-lg-4 col-md-6 col-sm-8">
						<div class="footer-widget subscribe-widget">
							<h5>Newsletter</h5>
							<div class="text">Sign up today for hints, tips and <br> the latest product news</div>
							<!--Emailed Form-->
							<div class="emailed-form">
								<form method="post" action="contact.html">
									<div class="form-group">
										<input type="email" name="email" value="" placeholder="Enter Your Email" required>
										<button type="submit" class="theme-btn">Souscrire</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
		
		<!-- Footer Bottom -->
		<div class="footer-bottom">
			<div class="auto-container">
				<div class="row clearfix">
					<!-- Column -->
					<div class="column col-lg-6 col-md-12 col-sm-12">
						<div class="copyright">Copyright &copy; 2022 Togotulawo. All Rights Reserved.</div>
					</div>
					<!-- Column -->
					<div class="column col-lg-6 col-md-12 col-sm-12">
						<ul class="footer-nav">
							<li><a href="#">About Us</a></li>
							<li><a href="#">Services</a></li>
							<li><a href="#">Privacy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
	</footer>
	
	
</div>
<!--End pagewrapper-->

<!-- Color Palate / Color Switcher -->

<div class="color-palate">
    <div class="color-trigger">
        <i class="fa fa-gear"></i>
    </div>
    <div class="color-palate-head">
        <h6>Choose Your Color</h6>
    </div>
	
	<div class="various-color clearfix">
        <div class="colors-list">
            <span class="palate default-color active" data-theme-file="{% static 'css/color-themes/default-theme.css' %}"></span>
            <span class="palate green-color" data-theme-file="{% static 'css/color-themes/green-theme.css' %}"></span>
            <span class="palate olive-color" data-theme-file="{% static 'css/color-themes/olive-theme.css' %}"></span>
            <span class="palate orange-color" data-theme-file="{% static 'css/color-themes/orange-theme.css' %}"></span>
            <span class="palate purple-color" data-theme-file="{% static 'css/color-themes/purple-theme.css' %}"></span>
            <span class="palate teal-color" data-theme-file="{% static 'css/color-themes/teal-theme.css' %}"></span>
            <span class="palate brown-color" data-theme-file="{% static 'css/color-themes/brown-theme.css' %}"></span>
            <span class="palate redd-color" data-theme-file="{% static 'css/color-themes/redd-color.css' %}"></span>
        </div>
    </div>
	
	<ul class="rtl-version option-box"> <li class="rtl">RTL Version</li> <li>LTR Version</li> </ul>
	
    <a href="#" class="purchase-btn">Purchase now $17</a>
    
    <div class="palate-foo">
        <span>You will find much more options for colors and styling in admin panel. This color picker is used only for demonstation purposes.</span>
    </div>

</div>

<!-- Search Popup -->
<div class="search-popup">
	<button class="close-search style-two"><span class="flaticon-multiply"></span></button>
	<button class="close-search"><span class="flaticon-up-arrow-1"></span></button>
	<form method="post" action="blog.html">
		<div class="form-group">
			<input type="search" name="search-field" value="" placeholder="Search Here" required="">
			<button type="submit"><i class="fa fa-search"></i></button>
		</div>
	</form>
</div>
<!-- End Header Search -->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/parallax.min.js' %}"></script>
<script src="{% static 'js/tilt.jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.paroller.min.js' %}"></script>
<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/nav-tool.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/color-settings.js' %}"></script>

</body>
</html>