{% extends 'main_base.html' %}
{% load article_custom_tags %}
{% load humanize %}

{% block title %}
<title>Détails sur l'article</title>
{% endblock title %}


{% block content %}

<style>
  .checked {
    color: orange;
  }

  .my-btn {
    background-color: inherit !important;
    border: 0 !important;
  }
</style>


<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a href="{% url 'accueil'  %}">Accueil</a></li>
      <li>Détails sur document</li>
    </ol>
    <h2>{{article.title}}</h2>

  </div>
</section><!-- End Breadcrumbs -->

<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">

    <div class="row">

      <div class="col-lg-8 entries">

        <article class="entry entry-single">

          <div class="entry-img">
            <img src="{% if article.couverture %} {{article.couverture.url}} {% endif %}" alt="" class="img-fluid">
          </div>

          <h2 class="entry-title">
            <a>{{article.title}}</a>
          </h2>

          <div class="entry-meta">
            <ul>
              <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a><time
                    datetime="2020-01-01">{{article.publish_date}}</time></a></li>

            </ul>
          </div>

          <div class="entry-content">
            <p>{{article.contenu|safe}}</p>
          </div>

          <div class="entry-footer">
            <i class="bi bi-folder"></i>
            <ul class="cats">
              <li><a href="#">{{article.domaine}}</a></li>
            </ul>

            <i class="bi bi-tags"></i>
            <ul class="tags">
              {% for a in article.tag_set.all %}
              <li><a href="#">{{a.description}}</a></li>
              {% endfor %}
            </ul>
          </div>

        </article><!-- End blog entry -->
        {% if request.user.is_authenticated %}
        {% if article.resource %}
        {% if user_article %}
        <div class="reply-form">
          <embed src="{{article.resource.url}}#toolbar=0" type="application/pdf" width='700' height='600'
            allowfullscreen webkitallowfullscreen>

        </div>
        {% endif %}
        {% endif %}
        {% endif %}

        <div class="blog-author d-flex align-items-center">
          <img src="{% if article.auteur.image %}{{article.auteur.image.url}}{% endif %}"
            class="rounded-circle float-left" alt="">
          <div>
            <h4>{{article.auteur}}</h4>
            <div class="social-links">
              {% if article.auteur.twitter_link %}<a href="{{article.auteur.twitter_link}}"><i
                  class="bi bi-twitter"></i></a>{% endif %}
              {% if article.auteur.fbook_link %}<a href="{{article.auteur.fbook_link}}"><i
                  class="bi bi-facebook"></i></a>{% endif %}
              {% if article.auteur.insta_link %}<a href="{{article.auteur.insta_link}}"><i
                  class="biu bi-instagram"></i></a>{% endif %}
              {% if article.auteur.linkedin_link %}<a href="{{article.auteur.linkedin_link}}"><i
                  class="biu bi-linkedin"></i></a>{% endif %}
            </div>
            <p>
              {% if article.auteur.bio %} {{article.auteur.bio}} {% else %} Je suis un utilisateur de Togotulawo {%
              endif %}
            </p>
          </div>
        </div><!-- End blog author bio -->

        <div class="blog-comments">

          <div class="reply-form">
            <h4>Laisser un commentaire</h4>
            <p>Donnez une note</p>
            {% for message in messages %}
            <div class="alert alert-success">
              {{ message }}
            </div>
            {% endfor %}

            <form action="{% url 'submit_review' article.id  %}" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="rate col-md-6 form-group">

                  <input type="radio" name="rate" id="rating10" value="5" required /><label for="rating10"
                    title="5"></label>
                  <input type="radio" name="rate" id="rating9" value="4.5" required /><label for="rating9" title="4.5"
                    class="half"></label>
                  <input type="radio" name="rate" id="rating8" value="4" required /><label for="rating8"
                    title="4"></label>
                  <input type="radio" name="rate" id="rating7" value="3.5" required /><label for="rating7" title="3.5"
                    class="half"></label>
                  <input type="radio" name="rate" id="rating6" value="3" required /><label for="rating6"
                    title="3"></label>
                  <input type="radio" name="rate" id="rating5" value="2.5" required /><label for="rating5" title="2.5"
                    class="half"></label>
                  <input type="radio" name="rate" id="rating4" value="2" required /><label for="rating4"
                    title="2"></label>
                  <input type="radio" name="rate" id="rating3" value="1.5" required /><label for="rating3" title="1.5"
                    class="half"></label>
                  <input type="radio" name="rate" id="rating2" value="1" required /><label for="rating2"
                    title="1"></label>
                  <input type="radio" name="rate" id="rating1" value="0.5" required /><label for="rating1" title="0.5"
                    class="half"></label>


                </div>

              </div>

              <div class="row">
                <div class="col form-group">
                  <textarea name="text" class="form-control" placeholder="Votre Commentaire*"></textarea>
                </div>
              </div>
              <button onclick="sendData()" type="submit" class="btn btn-primary">Poster</button>

            </form>
          </div>
          <br>

          <h4 class="comments-count">{{comment}} Commentaires</h4>
          {% for comment in article.comment_set.all %}
          <div id="comment-1" class="comment">
            <div class="d-flex">
              <div class="comment-img"><img src="assets/img/blog/comments-1.jpg" alt=""></div>
              <div>
                <h5><a href="">{{comment.user.get_full_name}}</a> <a href="#" class="reply">
                    <span class="fa fa-star {% if comment.rate > 0 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if comment.rate > 1 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if comment.rate > 2 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if comment.rate > 3 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if comment.rate > 4 %} checked {% endif %}"></span>
                  </a></h5>
                <time datetime="2020-01-01">{{comment.date}}</time>
                <p>
                  {{comment.text}}
                </p>
              </div>
            </div>

          </div><!-- End comment #1 -->
          {% endfor %}





        </div><!-- End blog comments -->

      </div><!-- End blog entries list -->

      <div class="col-lg-4">
        <div class="sidebar">

          <!-- ======= Pricing Section ======= -->
          <h3 class="sidebar-title">Détails</h3>

          <section id="pricing" class="pricing">

            <div class="container" data-aos="fade-up">

              <div class="row gy-4" data-aos="fade-left">

                <div class="col" data-aos="zoom-in" data-aos-delay="100">
                  <div class="box">
                    {% if article.price %}
                    <div class="price">

                      <sup><del>{{article.price|intcomma}}f</del>&nbsp;</sup>

                      {% cal_sellprice article.price article.discount as value %}{{value|intcomma|cfa}}

                    </div>
                    {% endif %}

                    <ul>
                      <li>Type: <b>{{article.type}}</b></li>
                      <li>Domaine: <b>{{article.domaine}}</b></li>
                      <li>Lu: <b>{{article.get_hit_count}} (fois)</b></li>
                      {% if request.user.is_authenticated %}
                      {% if article.resource %}
                      {% if user_article %}
                      <li>Ressource: <a href=" {{article.resource.url}} "
                          download="{{article.resource}}">Télécharger</a></li>
                      {% endif %}
                      {% endif %}
                      {% endif %}

                    </ul>
                    {% if article.price %}
                    <a href="{% url 'checkout' a.slug  %}" class="btn-buy">Acheter</a>
                    {% else %}

                    {% if fav %}

                    <a href="{% url 'favourite_add' article.slug  %}" class="btn-buy">Retirer</a>
                    {%else %}
                    <a href="{% url 'favourite_add' article.slug  %}" class="btn-buy">Favoris</a>
                    {% endif %}
                    {% endif %}
                  </div>
                </div>


              </div>

            </div>

          </section><!-- End Pricing Section -->


          {% if article.video_link %}
          <h3 class="sidebar-title">Vidéo de présentation</h3>
          <iframe title="Video de presentation" id='player' class="mx-auto" width="100%" height="315"
            src="https://www.youtube.com/embed/{{video_link}}"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
          {% endif %}


        </div><!-- End sidebar -->

      </div><!-- End blog sidebar -->

    </div>

  </div>
</section><!-- End Blog Single Section -->

<script>

  const sendData = function () {
    $.ajax({
      type: 'POST',
      url: '/submit_review/',
      data: {
        'csrfmiddlewaretoken': csrf[0].value,


      },
      success: function (response) {
        console.log(response)
        confirmBox.innerHTML = `<h1>Successfully rated with ${response.rate}</h1>`
      },
      error: function (error) {
        console.log(error)
        confirmBox.innerHTML = '<h1>Ups... something went wrong</h1>'
      }
    })
  }



</script>

{% endblock %}