{% extends 'main_base.html' %}

{% block title %}
<title>Terms et conditions</title>
{% endblock title %}


{% block content %}

<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a href="{% url 'main:accueil' %}">Accueil</a></li>
            <li>Police privée</li>
        </ol>

    </div>
</section><!-- End Breadcrumbs -->

<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row">

            <div class="col-lg-12 entries">

                <article class="entry entry-single">

                    <h2 class="entry-title">
                        <a>Police privée</a>
                    </h2>
                    <hr>

                    <div class="entry-content">
                        <h3>Définitions</h3>
                        <p><b>Client</b> : tout professionnel ou personne physique capable au sens des articles 1123 et suivants du Code civil, ou
                        personne morale, qui visite le Site objet des présentes conditions générales.
                        <p><b>Prestations et Services</b> : https://www.togotulawo.com met à disposition des Clients</p> 
                        
                        <p><b>Contenu</b> : Ensemble des éléments constituants l’information présente sur le Site, notamment textes – images – vidéos.</p>
                        <p><b>Informations clients</b> : Ci après dénommé « Information (s) » qui correspondent à l’ensemble des données personnelles
                        susceptibles d’être détenues par https://www.saisie-facile.com pour la gestion de votre compte, de la gestion de la
                        relation client et à des fins d’analyses et de statistiques.</p>
                        <p><b>Utilisateur</b> : Internaute se connectant, utilisant le site susnommé.</p>
                        <p><b>Informations personnelles</b> : « Les informations qui permettent, sous quelque forme que ce soit, directement ou non,
                        l'identification des personnes physiques auxquelles elles s'appliquent » (article 4 de la loi n° 78-17 du 6 janvier
                        1978).</p>
                        <p>Les termes <b>« données à caractère personnel »</b>, <b>« personne concernée »</b>, <b>« sous traitant »</b> et <b>« données sensibles »</b> ont le
                        sens défini par le Règlement Général sur la Protection des Données (RGPD : n° 2016-679)</p>

                        <h3>2- Présentation du site internet</h3>
                        <p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est
                        précisé aux utilisateurs du site internet https://www.saisie-facile.com l'identité des différents intervenants dans le
                        cadre de sa réalisation et de son suivi:</p>
                        <p>Propriétaire : TOGOTULAWO SARL U – AGOE CACAVELLI <br>
                        NIF : 3001873429 - RCCM : 70203 11 2015 0 10086<br>
                        Responsable publication : Admin – contact@togotulawo.com <br>
                        Le responsable publication est une personne morale. <br>
                        Webmaster : admin – contact@togotulawo.com <br>
                        Hébergeur : pythonanywhere.com with amazon aws <br>
                        Délégué à la protection des données : ARCEP-TOGO – arcep.tg</p>
                    </div>



                </article><!-- End blog entry -->
            </div><!-- End blog entries list -->


        </div>

    </div>
</section><!-- End Blog Single Section -->

{% endblock %}