{% extends 'main_base.html' %}

{% block title %}
<title>Terms et conditions</title>
{% endblock title %}


{% block content %}

<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a href="{% url 'main:accueil' %}">Accueil</a></li>
            <li>Police privée</li>
        </ol>

    </div>
</section><!-- End Breadcrumbs -->

<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row">

            <div class="col-lg-12 entries">

                <article class="entry entry-single">

                    <h2 class="entry-title">
                        <a>Police privée</a>
                    </h2>
                    <hr>

                    <div class="entry-content">
                        <h3>Définitions</h3>
                        <p><b>Client</b> : tout professionnel ou personne physique capable au sens des articles 1123 et suivants du Code civil, ou
                        personne morale, qui visite le Site objet des présentes conditions générales.
                        <p><b>Prestations et Services</b> : https://www.togotulawo.com met à disposition des Clients</p> 
                        
                        <p><b>Contenu</b> : Ensemble des éléments constituants l’information présente sur le Site, notamment textes – images – vidéos.</p>
                        <p><b>Informations clients</b> : Ci après dénommé « Information (s) » qui correspondent à l’ensemble des données personnelles
                        susceptibles d’être détenues par https://www.saisie-facile.com pour la gestion de votre compte, de la gestion de la
                        relation client et à des fins d’analyses et de statistiques.</p>
                        <p><b>Utilisateur</b> : Internaute se connectant, utilisant le site susnommé.</p>
                        <p><b>Informations personnelles</b> : « Les informations qui permettent, sous quelque forme que ce soit, directement ou non,
                        l'identification des personnes physiques auxquelles elles s'appliquent » (article 4 de la loi n° 78-17 du 6 janvier
                        1978).</p>
                        <p>Les termes <b>« données à caractère personnel »</b>, <b>« personne concernée »</b>, <b>« sous traitant »</b> et <b>« données sensibles »</b> ont le
                        sens défini par le Règlement Général sur la Protection des Données (RGPD : n° 2016-679)</p>

                        <h3>2- Présentation du site internet</h3>
                        <p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est
                        précisé aux utilisateurs du site internet https://www.saisie-facile.com l'identité des différents intervenants dans le
                        cadre de sa réalisation et de son suivi:</p>
                        <p>Propriétaire : TOGOTULAWO SARL U – AGOE CACAVELLI <br>
                        NIF : 3001873429 - RCCM : 70203 11 2015 0 10086<br>
                        Responsable publication : Admin – contact@togotulawo.com <br>
                        Le responsable publication est une personne morale. <br>
                        Webmaster : admin – contact@togotulawo.com <br>
                        Hébergeur : pythonanywhere.com with amazon aws <br>
                        Délégué à la protection des données : ARCEP-TOGO – arcep.tg</p>


                        <h3>3- Politique de confidentialité de Togotulawo Sarl U</h3>
                         <p>
                        La présente Politique de confidentialité décrit la façon dont vos informations personnelles sont recueillies, utilisées
                        et partagées lorsque vous vous rendez sur www.togotulawo.com (le « Site ») ou que vous y effectuez un achat.</p>
                        
                        <h3>INFORMATIONS PERSONNELLES RECUEILLIES</h3> 
                        <p>
                            Lorsque vous vous rendez sur le Site, nous recueillons automatiquement certaines informations concernant votre appareil,
                            notamment des informations sur votre navigateur web, votre adresse IP, votre fuseau horaire et certains des cookies qui
                            sont installés sur votre appareil. En outre, lorsque vous parcourez le Site, nous recueillons des informations sur les
                            pages web ou produits individuels que vous consultez, les sites web ou les termes de recherche qui vous ont permis
                            d'arriver sur le Site, ainsi que des informations sur la manière dont vous interagissez avec le Site. Nous désignons ces
                            informations collectées automatiquement sous l'appellation « Informations sur l'appareil ».
                        </p>
                        
                        <p>
                        Nous recueillons les Informations sur l'appareil à l'aide des technologies suivantes :

                        </p>
                        
                        <p>
                            - Les « fichiers journaux » suivent l'activité du Site et recueillent des données telles que votre adresse IP, le type
                            de navigateur que vous utilisez, votre fournisseur d'accès Internet, vos pages référentes et de sortie, et vos données
                            d'horodatage (date et heure).
                            - Les « pixels invisibles », les « balises » et les « pixels » sont des fichiers électroniques qui enregistrent des
                            informations sur la façon dont vous parcourez le Site.
                            [[INSÉRER LES DESCRIPTIONS DES AUTRES TYPES DE TECHNOLOGIES DE SUIVI QUE VOUS UTILISEZ]]
                            Par ailleurs, lorsque vous effectuez ou tentez d'effectuer un achat par le biais du Site, nous recueillons certaines
                            informations vous concernant, notamment votre nom, votre adresse de facturation, votre adresse d'expédition, vos
                            informations de paiement (y compris vos numéros de cartes de crédit [[INSÉRER LES AUTRES MOYENS DE PAIEMENT ACCEPTÉS, LE
                            CAS ÉCHÉANT]], votre adresse e-mail et votre numéro de téléphone. Ces informations collectées automatiquement sont
                            désignées par l’appellation « Informations sur la commande ».
                        </p>
                        
                        <p>
                            [[INSÉRER TOUTES LES AUTRES INFORMATIONS QUE VOUS RECUEILLEZ, LE CAS ÉCHÉANT : DONNÉES HORS LIGNE, DONNÉES/LISTES
                            ACHETÉES À DES FINS DE MARKETING]]
                        </p>
                        
                        <p>
                            Lorsque nous utilisons l'expression « Informations personnelles » dans la présente Politique de confidentialité, nous
                            faisons allusion à la fois aux Informations sur l'appareil et aux Informations sur la commande.
                        </p>
                        
                        <h3>COMMENT UTILISONS-NOUS VOS INFORMATIONS PERSONNELLES ?</h3>
                        
                        <p>
                            En règle générale, nous utilisons les Informations sur la commande que nous recueillons pour traiter toute commande
                            passée par le biais du Site (y compris pour traiter vos informations de paiement, organiser l'expédition de votre
                            commande et vous fournir des factures et/ou des confirmations de commande). En outre, nous utilisons ces Informations
                            sur la commande pour : <br>
                            communiquer avec vous ; <br>
                            évaluer les fraudes ou risques potentiels ; et <br>
                            lorsque cela correspond aux préférences que vous nous avez communiquées, vous fournir des informations ou des publicités
                            concernant nos produits ou services. <br>
                            [[INSÉRER LES AUTRES UTILISATIONS QUI SONT FAITES DES INFORMATIONS SUR LA COMMANDE]]
                            Nous utilisons les Informations sur l'appareil (en particulier votre adresse IP) que nous recueillons pour évaluer les
                            fraudes ou risques potentiels et, de manière plus générale, pour améliorer et optimiser notre Site (par exemple, en
                            générant des analyses sur la façon dont nos clients parcourent et interagissent avec le Site, et pour évaluer la
                            réussite de nos campagnes de publicité et de marketing).
                            [[INSÉRER LES AUTRES UTILISATIONS QUI SONT FAITES DES INFORMATIONS SUR L'APPAREIL, NOTAMMENT EN MATIÈRE DE PUBLICITÉ ET
                            DE RECIBLAGE]]
                        </p>
                        
                        <h3>PARTAGE DE VOS INFORMATIONS PERSONNELLES</h3>
                        
                        <p>
                            Nous partageons vos Informations personnelles avec des tiers qui nous aident à les utiliser aux fins décrites
                            précédemment. Par exemple, nous utilisons Shopify pour héberger notre boutique en ligne – pour en savoir plus sur
                            l'utilisation de vos Informations personnelles par Shopify, veuillez consulter la page suivante : <br>
                            https://www.shopify.fr/legal/confidentialite. Nous utilisons également Google Analytics pour mieux comprendre comment
                            nos clients utilisent le Site – pour en savoir plus sur l'utilisation de vos Informations personnelles par Google,
                            veuillez consulter la page suivante : https://www.google.com/intl/fr/policies/privacy/. Vous pouvez aussi désactiver
                            Google Analytics ici : https://tools.google.com/dlpage/gaoptout.
                        </p>
                        
                        <p>
                            Enfin, il se peut que nous partagions aussi vos Informations personnelles pour respecter les lois et règlementations
                            applicables, répondre à une assignation, à un mandat de perquisition ou à toute autre demande légale de renseignements
                            que nous recevons, ou pour protéger nos droits. <br>
                            [[INCLURE LE PARAGRAPHE SUIVANT SI VOUS UTILISEZ LE MARKETING DE RELANCE OU LA PUBLICITÉ CIBLÉE]]
                            PUBLICITÉ COMPORTEMENTALE <br>
                            Comme indiqué ci-dessus, nous utilisons vos Informations personnelles pour vous proposer des publicités ciblées ou des
                            messages de marketing qui, selon nous, pourraient vous intéresser. Pour en savoir plus sur le fonctionnement de la
                            publicité ciblée, vous pouvez consulter la page d'information de la Network Advertising Initiative (NAI) à l'adresse
                            suivante : http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work.
                        </p>
                        
                        <p>Vous pouvez refuser la publicité ciblée ici :</p>
                        <p>
                            [[
                            INCLURE LES LIENS DE DÉSACTIVATION DES SERVICES UTILISÉS.
                            QUELQUES LIENS COURANTS : <br>
                            FACEBOOK – https://www.facebook.com/settings/?tab=ads <br>
                            GOOGLE – https://www.google.com/settings/ads/anonymous <br>
                            BING – https://about.ads.microsoft.com/fr-fr/ressources/politiques/annonces-personnalisees 
                            ]] <br>
                            En outre, vous pouvez refuser certains de ces services en vous rendant sur le portail de désactivation de Digital
                            Advertising Alliance à l'adresse suivante : https://optout.aboutads.info/?c=3&lang=fr.
                        </p>
                         
                        
                        <h3>NE PAS SUIVRE</h3>
                        <p>
                            Veuillez noter que nous ne modifions pas la collecte de données de notre Site et nos pratiques d'utilisation lorsque
                            nous détectons un signal « Ne pas suivre » sur votre navigateur.

                            [[INCLURE LE PARAGRAPHE SUIVANT SI VOUS VOUS SITUEZ EN EUROPE OU SI VOTRE BOUTIQUE A DES CLIENTS EN EUROPE]]
                        </p>
                        
                        <h3>VOS DROITS</h3>
                        <p>
                            Si vous êtes résident(e) européen(ne), vous disposez d'un droit d'accès aux informations personnelles que nous détenons
                            à votre sujet et vous pouvez demander à ce qu'elles soient corrigées, mises à jour ou supprimées. Si vous souhaitez
                            exercer ce droit, veuillez nous contacter au moyen des coordonnées précisées ci-dessous. <br>
                            Par ailleurs, si vous êtes résident(e) européen(ne), notez que nous traitons vos informations dans le but de remplir nos
                            obligations contractuelles à votre égard (par exemple si vous passez une commande sur le Site) ou de poursuivre nos
                            intérêts commerciaux légitimes, énumérés ci-dessus. Veuillez également noter que vos informations seront transférées
                            hors de l'Europe, y compris au Canada et aux États-Unis.
                        </p>

                        <h3>RÉTENTION DES DONNÉES</h3>
                        <p>
                            Lorsque vous passez une commande par l'intermédiaire du Site, nous conservons les Informations sur votre commande dans
                            nos dossiers, sauf si et jusqu'à ce que vous nous demandiez de les supprimer. <br>
                            
                            [[INSÉRER LE PARAGRAPHE SUIVANT EN CAS D'OBLIGATION D'ÂGE MINIMUM]]
                            MINEURS
                            Le Site n'est pas destiné aux individus de moins de [[INSÉRER L'ÂGE]].
                        </p>
                        
                        <h3>CHANGEMENTS</h3>
                        <p>
                            Nous pouvons être amenés à modifier la présente politique de confidentialité de temps à autre afin d'y refléter, par
                            exemple, les changements apportés à nos pratiques ou pour d'autres motifs opérationnels, juridiques ou réglementaires.
                            
                        </p>
                       <h3>NOUS CONTACTER</h3> 
                       <p>
                        Pour en savoir plus sur nos pratiques de confidentialité, si vous avez des questions ou si vous souhaitez déposer une
                        réclamation, veuillez nous contacter par e-mail à asslajosta@gmail.com, ou par courrier à l'adresse suivante : <br>
                        Agoe Cacavelli, Lomé, 504, Togo
                       </p>
                        
                        
                        
                        
                    </div>



                </article><!-- End blog entry -->
            </div><!-- End blog entries list -->


        </div>

    </div>
</section><!-- End Blog Single Section -->

{% endblock %}