{% extends 'main_base.html' %}
{% load hosts %}
{% load static %}

{% block title %}
<title>Messages</title>
{% endblock title %}

{% block content %}

<br>
<br><br><br>
<br><br>
<section id="clients" class="clients">

    <div class="container" data-aos="fade-up">

        <header class="section-header">

            <p>Candidature soumise avec succès</p>
            <h2>Vous serez contacté sur l'une de vos coordonnées si votre candidature est retenue</h2>
            <br>
            <div><img src="{% static 'main/assets/img/valide.png'%}" height="100px" alt=""></div>
        </header>

    </div>

</section><!-- End Clients Section -->


{% endblock %}