{% extends 'main_base.html' %}



{% block title %}
<title>Terms et conditions</title>
{% endblock title %}


{% block content %}




<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a href="{% url 'main:accueil' %}">Accueil</a></li>
            <li>Terms et conditions</li>
        </ol>

    </div>
</section><!-- End Breadcrumbs -->

<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row">

            <div class="col-lg-12 entries">

                <article class="entry entry-single">

                    <h2 class="entry-title">
                        <a>Terms et conditions</a>
                    </h2>

                    <div class="entry-content">
                        <h3>1- Conditions générales d’utilisation du site et des services proposés.</h3>
                        <p>Le Site constitue une œuvre de l’esprit protégée par les dispositions du Code de la Propriété Intellectuelle et des
                        Réglementations Internationales applicables. Le Client ne peut en aucune manière réutiliser, céder ou exploiter pour son
                        propre compte tout ou partie des éléments ou travaux du Site. <br>
                        L’utilisation du site https://www.togotulawo.com implique l’acceptation pleine et entière des conditions générales
                        d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout
                        moment, les utilisateurs du site https://www.togotulawo.com sont donc invités à les consulter de manière régulière. <br>
                        Ce site internet est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance
                        technique peut être toutefois décidée par https://www.togotulawo.com, qui s’efforcera alors de communiquer
                        préalablement aux utilisateurs les dates et heures de l’intervention. Le site web https://www.togotulawo.com est mis
                        à jour régulièrement par https://www.togotulawo.com responsable. De la même façon, les mentions légales peuvent être
                        modifiées à tout moment : elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent
                        possible afin d’en prendre connaissance.</p>
                        
                    </div>

                    

                </article><!-- End blog entry -->
            </div><!-- End blog entries list -->

            
        </div>

    </div>
</section><!-- End Blog Single Section -->

{% endblock %}